[2017-07-26 16:56] tunnckoCore opened #38 "Renovate badge"
Hey! :hand:

I'm thinking to drop most of my badges and stick to as minimal as possible, but want to show that my deps are always up to date, because Semantic-Release (probably) and Renovate and good its specific config that i'm thinking now (low noises, big automation, plus pinning versions).

So i think this would be enough
[![Renovate - Always up to date][renovateapp-svg]][renovateapp-link]

[r

[2017-07-27 09:03] rarkins commented on #38
My thoughts:
- Installing Renovate doesn't necessarily mean you're up-to-date :) Even with automerge, some tests might fail..  How about ![monitored](https://img.shields.io/badge/dependencies-renovated-brightgreen.svg) or similar?
- Any value in having a dynamic badge that indicates if a repo has any outstanding updates? The downside is that most repos will have *some* dependencies out of date at

[2017-07-27 09:07] rarkins commented on #38
If we were doing statuses:
- "up to date" and bright green if no updates at all outstanding
- "patched" and green if all minor/patch updates applied but any major ones outstanding
- "out of date" and yellow if minor out of date
- "out of date" and red if patch out of date

But perhaps also with some "delay" incorporated? e.g. it's a bit annoying if your repository suddenly turns red the minute a n

[2017-07-27 09:23] ikatyang commented on #38
How about indicating if Renovate is enabled for the repo?

[![Renovate](https://img.shields.io/badge/Renovate-enabled-brightgreen.svg)](https://renovateapp.com/)
[![Renovate](https://img.shields.io/badge/Renovate-not_found-lightgray.svg)](https://renovateapp.com/)

[2017-07-27 09:55] rarkins commented on #38
Yeah I'm thinking of how to do it in a forwards-compatible way so that it can be enhanced in future without changes to everyone's readme. Maybe I set up and dummy AWS API gateway endpoint that simply answers with "renovate enabled" and then later improve it to:

- show "disabled" if the repo is not known!
- show advanced details about a repo's status (out of date, etc)

Also need to think how to d

[2017-07-27 13:24] tunnckoCore commented on #38
Thought exactly for that, but is too long for my taste (David's "up-to-date" is long too) :D As about the other things, I believe there is a room for such service like David DM - your ideas sounds good.

Probably yea. It's a good start.

[2017-07-28 03:36] hutson commented on #38
I agree with that statement. While seeing a `renovate` badge will tell me a little bit about the efforts a package manager has put into the sustainability of their project, it doesn't tell me whether their package is, at that moment, up-to-date with their dependencies. They could quite easily leave `renovate` installed, but neglect to actually accept any `renovate`-generated pull requests.

As a m

[2017-07-28 05:39] rarkins commented on #38
Hi all, thanks for the feedback. Based on your inputs, my current line of thinking is:

- David DM badge is useful/widespread and no need to duplicate it for now
- Whether a repository is up to date and whether it has renovate installed are separate matters :)
- For now, a simple voluntary and static "renovate enabled" badge should be fine
- Later, I will consider adding a dynamic badge for the se

[2018-07-21 13:24] rarkins opened #58 "Private npm module webhooks"
The Renovate *App* has an npm follower that listens in real-time for new package versions, but private modules are never published this way. For Renovate to know about these in real time, it would need an admin of the npm package to configure a webhook using wombat cli: https://github.com/npm/wombat-cli

Slight challenge: Renovate is authorised per *GitHub* org/user, not per npm org/user. Need a r

[2018-07-24 21:39] felixfbecker commented on #58
I would configure hooks with the CLI if that is the only way (better than nothing), although automatic would be nicer.

Could you maybe use other hooks than npm publishes? For example, trigger runs on GitHub releases / git tag pushes?

[2018-07-25 09:18] rarkins commented on #58
Using the GitHub source is an interesting idea, although perhaps a little brittle and prone to race conditions (eg npm publish lag). Requires some extra state to be kept on webhook side to link npm name with GitHub repo too.

[2018-10-08 23:17] daKmoR commented on #38
As seen here I was looking at david dm badge - and that really works well for "normal" git repositories. E.g. if you have one package.json file in the root of your git.

However my use case is a monorepo and I really like renovate because it picks up all the nested package.json and handles them.

So on how it behaves and looks, I would say david dm is really nice... so having the same feature but

[2018-10-09 02:42] rarkins commented on #38
Thanks for the update. It's useful to know if there's a feature gap in David DM now with monorepos.

For me the challenge is (1) how to "fairly" summarise update statuses into some single score, and (2) how to fit it into a single badge. e.g. a patch update open for 2 months is a lot different to a major upgrade open for the same.

Although if we do it with an API, I suppose that it's possible to

[2018-10-26 18:04] felixfbecker opened #39 "Passing status checks not detected immediately by app"
**What Renovate type are you using?**
Renovate GitHub App

**Describe the bug**
There was a new version of one of our packages released: https://github.com/sourcegraph/sourcegraph-extension-api/releases/tag/v18.0.2

![image](https://user-images.githubusercontent.com/10532611/47583397-2f3a8780-d90c-11e8-8ee6-2783c9131668.png)

Renovate did a run on a depending repo:

![image](https://user-images.gi

[2018-10-26 18:21] rarkins commented on #39
It's expected, for now. GitHub's status update webhooks (previously, at least) did not include enough information in the payload to tell you if the branch was "green" or not - it just tells you that a particular test passed. Running Renovate every time that happens therefore was really inefficient and chewed up API rate limits. Now with check runs it's even worse because there are two things to lo

[2018-10-26 18:24] rarkins commented on #39
Are there any repos you can point me to so that I can check the historical webhooks received?

[2018-10-26 18:28] felixfbecker commented on #39
To avoid triggering a Renovate "run" on every webhook, could there be a service that handles the incoming webhooks and filters out the ones for "renovate branch passed" and only then triggers a Renovate run?
Or (less preferable) could Renovate provide a "trigger" API where we can trigger a run manually with `curl` at the end of CI?

But automerging will still be delayed, right?

This instance was

[2018-10-26 18:47] rarkins commented on #39
Using sourcegraph/enterprise, we got three webhooks for this branch:
![image](https://user-images.githubusercontent.com/6311784/47585809-b31d5f80-d95e-11e8-8076-ac704bd8caf4.png)

The first two were pending, the third one was success. Looking at that third one, it unfortunately is like it always was and gives only information about that one particular status check and not about the branch's overal

[2018-10-26 19:32] rarkins commented on #39
I've added this custom webhook logic, which should trigger an extra run on any sourcegraph repository for any status check that is not "pending". I'll leave this issue open until a more generic solution is available.

[2018-11-30 16:10] nottrobin commented on #38
I'd also appreciate it if Renovate included a badge that could summarise the status of Python dependencies too. Or one that shows the status of all dependencies.

[2018-11-30 16:32] tunnckoCore commented on #38
Yea, one more reason why Renovate should have a badge, and that isn't a duplication of DavidDM. Now Renovate supports more than NPM/nodejs so a badge showing a status would be great. Renovate will become DavidDM for all the languages that it supports :D

[2018-12-05 18:20] rarkins commented on #38
OK, I plan to add this soon. To begin with, the badge will just say onboarding/enabled/disabled, but later on (without change of badge URL) will be updated to be more dynamic and perhaps even customisable, e.g. to display number of dependencies out of date, number of PRs, a score, etc.

[2018-12-06 10:23] tunnckoCore commented on #38
@rarkins yup, sounds good.

You can try to use [npm.im/badgen](https://www.npmjs.com/package/badgen) library (not the badgen service). :)

[2018-12-07 09:48] rarkins commented on #38
Please help me through the logic here. I want it to be able to work both for self-hosted CLI users as well as the app, even though the app one is intended to be much more sophisticated.

So:

New config option `badgeUrl` which defaults to `null`. A PR proposing the badge will be created only if it's a non-null value, i.e. by default there is no Renovate badge in the CLI tool. CLI users could simpl

[2018-12-07 10:50] nottrobin commented on #38
Does the badge need to be something managed by Renovate through config?

I understand that filing PRs is what Renovate does, but I'd personally feel more comfortable if it only did that specifically for its core MO of upgrading dependencies, and not for all sorts of other things like adding badges. Otherwise I'd start to feel like I didn't know what Renovate might do on my repo next.

Like, what h

[2018-12-07 11:23] rarkins commented on #38
Renovate would suggest the badge in a PR once per repo - after onboarding - and anyone with multiple repos using their own preset could even disable that behaviour because they will merge the custom preset as part of onboarding.

If you want to remove a badge after adding it, you'd remove it yourself - no PR from Renovate for that. The `badgeUrl` option controls only whether it is *suggested* or n

[2018-12-07 11:30] nottrobin commented on #38
Those are all very good points. It is especially true that people are much more likely to add it under your model. I agree that a separate PR is better.

I think, though, for that purpose, you might want to simplify the config option to just `badge: true|false`? Presumably Renovate is the one that knows the URL, and probably wants the ability to change it. In future, you could extend it to `badge:

[2018-12-07 15:30] tunnckoCore commented on #38
Absolutely agree with @nottrobin. It sounds more complicated than it should be. Just expose an API endpoint that gives you status metadata as json, so we can use it. And another endpoint for the badge.

Yea.. I don't get what `badgeUrl` could be. `true/false` sounds me better.

Yea, definitely better :D

And yes, for sure, it's more likely most will accept those PRs than consider adding a badge th

[2018-12-07 16:33] rarkins commented on #38
@tunnckoCore I think you're potentially the only user who autogenerates their readme's, so I don't want to optimise for that *particular* case. i.e. so long as you can disable automatic PR insertion, that's all you need.

`badgeUrl` would only be the concern of bot admins, not of bot users.

For the app's URL, I would prefer to keep its URL simple and control its contents via config. That way - re

[2019-01-08 15:00] mjrider opened #35 "Only the first 100 projects are found when adding projects with gitlab"
**What Renovate type are you using?**
Gitlab

**Describe the bug**
Whwn adding projects with gitlab, only the first 20 are found ( pagination in the api ? )

**Did you see anything helpful in debug logs?**
n/a/

**To Reproduce**
1. open dashboard with gitlab login with an account with access to more then 20 projects
2. click on ⚙️
3. count the projects, and compare them with the actual list

**Exp

[2019-01-08 16:12] mjrider commented on #35
maybe relevant headers from the list projects request
[code]

[2019-01-08 16:36] rarkins commented on #35
Thanks. I've added `per_page=100` to the URL so that might alleviate your problem for now. Full solution requires paginating the responses.

[2019-01-08 17:26] mjrider commented on #35
i don't see anything different atm, is it already live ?

[2019-01-08 18:01] mjrider commented on #35
addendum:
you added the per_page=100 on the wrong place
around line 451 in `$('#install-more').click(function() {`
you need the per_page and not
around line 389 in  `$('#installModalBody').on('change', '.switch', async function() {`

[2019-01-08 18:12] rarkins commented on #35
Thanks. can you try again now?

[2019-01-08 20:31] mjrider commented on #35
Works like a charm

[2019-04-03 06:12] bartlangelaan commented on #35
We have ~70 active projects, and ~150 archived projects. Because the list isn't filtered based on archived status, all archived projects still show up which made the list longer as 100 projects. The projects I wanted to enable didn't show up.

By adding `&archived=false` to the GitLab project API url, only unarchived projects are listed. Archived projects won't work with Renovate anyway. Maybe you

[2019-04-09 02:32] rarkins commented on #35
@bartlangelaan archived projects should now be filtered out in that query

[2019-04-09 06:59] fabianbru opened #31 ""Artifacts update problem" with private packages / custom registry (encrypted .npmrc)"
**What Renovate type are you using?**
Renovate GitHub App

**Describe the bug**
Private packages or packages from custom registries are not found in the "artifacts" step. So the renovate PR will have the ":warning: Artifact update problem" warning and the failing check "renovate/artifacts".

I have submitted a bug some time ago for issues with those packages (private or custom registry) in the "fi

[2019-04-12 16:18] rarkins commented on #31
@fabianbru sorry I missed this issue the other day. I don't understand the full picture so will try to confirm it with you:

1. You're using the hosted app
2. Some of your npm packages require an authenticated lookup from a custom repository, others off npmjs.org
3. You have added an encrypted npmrc file to your renovate config inside `package.json`
4. Renovate detects and decrypts the npmrc file

[2019-04-13 09:16] fabianbru commented on #31
You summed it up very well, sorry that I relayed on the other issue.

6. Yes, PRs are only with `package.json` and the artifact (`yarn.lock`) fails on generation. My assumption is, that for this step (`yarn install` ?) the saved `npmrc` content is missing.

And yes, I am using yarn workspaces.

There is no NPM_TOKEN variable, just the encrpted `npmrc` to clarify this. Tokens are embedded, yes.

He

[2019-04-13 09:48] rarkins commented on #31
Is there authentication needed for both npmjs private modules as well as a private registry? Are both tokens in the encrypted npmrc?

[2019-04-13 10:01] rarkins commented on #31
And yes I agree that most likely cause is that yarn is not getting all the information it needs from `.npmrc`

[2019-04-13 10:10] fabianbru commented on #31
Yes, I need auth tokens for both. One for the official npm registry and another one for the custom registry. My npmrc content looks like (NPM_TOKENS are embedded):

[code]

The content is correct, because I get the PRs with new versions. You fixed an issue related to this in renovatebot/renovate#3417 (the issue I mentioned above).

[2019-04-13 10:22] rarkins commented on #31
Is it pure yarn workspaces or lerna wrapping it?

Next step is to understand:
- where in the repo does Renovate need to add the `.npmrc` in order for this to work? Eg root or repo only or in same directory as every package.json?
- is a Renovate doing that?

I suspect we need the npmrc everywhere and right now we’re only writing it to the root

[2019-04-13 10:37] fabianbru commented on #31
We have lerna included, but using it only for starting scripts and managing versions.

Locally we have only one `.npmrc` file in the project root with similar content as mentioned above, only the tokens are referenced from the environment and are not embedded.

[2019-04-13 10:51] rarkins commented on #31
The logs indicate that the npmrc is being written to the root of the repo and yarn being run from the root too. I am not sure if the logs tell us enough to know if the lookup attempt is from the fontawesome registry or the regular npmjs one. If indeed it’s looking up from the right one then it indicate the authentication (token) is wrong.

[2019-04-23 15:23] fabianbru commented on #31
The token is correct, because renovate is creating the PR for this package. If the token is not correct renovate would not be able to get new versions for this package.

Do you have some new insights?

[2019-04-23 20:23] rarkins commented on #31
@fabianbru I want to take another stab at this with fresh eyes. Summarising below.

npm credentials are used in two places:
- Directly by Renovate itself when crafting headers for API lookups for new versions
- By npm or yarn when updating lock files

Your `.npmrc` credentials would be considered "correct" if Renovate successfully uses them to look up a private module off npmjs.org as well as the

[2019-04-24 06:32] fabianbru commented on #31
Yes, there is a `.npmrc` file checked into the repo. The content is simlar to the encrypted `npmrc` string, but the npm tokens are not embedded. So our `.npmrc` file:

[code]

In the `renovate.json` there is also the line `"ignoreNpmrcFile": true`.

[2019-04-24 07:06] rarkins commented on #31
So in theory we need to replace the `.npmrc` in your repository with the decrypted one from your config, and everything should work?

It's possible that this is caused by the migration to gitFs, however I thought that particular problem was already handled.

Can you do this for me?

1. Tick the rebase/retry checkbox on a relevant PR now so that Renovate runs again (and presumably fails again when

[2019-04-24 15:39] fabianbru commented on #31
The PR got autoclosed 2 hours ago.

[code]

I restored it and checked the renovate rebase checkbox. It run through and found those packages again, but same "Artifact update problem" as we know it.

Edit: And I emailed you the infos earlier today.

[2019-04-24 16:07] rarkins commented on #31
This line confirms that Renovate itself is using the right/valid credentials with the fortawesome npm server:

[code]

These pro icons aren't present on registry.npmjs.org so would otherwise error.

Later, the call to `yarn` reports: `error Couldn't find package "@fortawesome/pro-light-svg-icons@5.8.1" required by "@velux/lead-overview@5.3.2" on the "npm" registry.`

I'm trying to determine if tha

[2019-04-30 16:45] gordlea commented on #31
I am also seeing this error, running self hosted renovate. I've tried it with just an npmrc in the config, and also with a yarnrc, pointing at our private repo.

The funny thing is that it works on my local machine, but not when I run it on jenkins.

[2019-05-01 19:19] gordlea commented on #31
I should note, that on the Jenkins machine, when I run it, there is an .npmrc file that is configured to point at our private registry, and it doesn't work.

[2019-05-01 19:50] gordlea commented on #31
So, I was running renovate via a script in the package.json file of my project, and I was using yarn to run the script on the server. When I changed it to call renovate directly in the Jenkinsfile, it works.

So basically, running renovate via a package.json script started from yarn causes an artifact update error somehow.

@rarkins

[2019-05-02 05:51] rarkins commented on #31
I think these are obviously "related" issues but probably separate problems/solutions to each other. In @gordlea's case it sounds like running the script via yarn causes the "current" .npmrc values to be loaded and passed through and these must somehow be taking precedence.

[2019-05-03 09:02] bartlangelaan opened #14 "Gitlab webhooks not installed"
This is a kind of follow up on issue renovatebot/renovate#2807.

**What Renovate type are you using?**
Renovate App for Gitlab

**Describe the bug**
When I enable a repository trough te Renovate Dashboard, the Renovate user is correctly added to the repository. The only thing is: the webhook is not installed. Even after waiting for the project to show up on the left side, and opening the project l

[2019-05-05 12:25] ChristianIvicevic commented on #14
@rarkins I am having the same issue right now and my project isn't even appearing in the sidebar after enabling it. The bot account was successfully added to the project, but no Webhook was installed. I can imagine the API having changed or auth being wrong.

[2019-05-05 12:32] ChristianIvicevic commented on #14
Another small tidbit I just noticed. The dashboard is performing an API call to `https://gitlab.com/api/v4/projects/12141547/members/1263493`. The project ID `12141547` is my "real" project since I created a personal fork to test Renovate in the fork. I think the dashboard is trying to go upstream instead of taking the fork. The Webhook API call is indeed against the fork: `https://v1.renovateapi.

[2019-05-05 12:38] rarkins commented on #14
It checks against every repo you have access to. You should see both the origin as well as fork being queried but the origin returns 404

[2019-05-05 12:42] ChristianIvicevic commented on #14
To test possible causes, I removed the fork relation and the Webhook still isn't installed. I will be testing this with a fresh repository now. Is it possible to manually register the Webhook in the meantime until the automation of the Dashboard works again?

[2019-05-05 12:49] ChristianIvicevic commented on #14
Alright, even with a fresh repository and no fork relation at all the webhooks endpoint on your end fails due to Gitlab most likely.

The initial OPTIONS request at `https://v1.renovateapi.com/gitlab/repos/12177648/webhooks` returns 204 with a cache miss from cloudfront. The second POST request to the same endpoint returns a 404 error from cloudfront.

[2019-05-05 13:13] rarkins commented on #14
Is it a regular repo, or grouped, or sungrouped? And do you definitely have admin privileges?

[2019-05-05 13:18] ChristianIvicevic commented on #14
The repos I tried so far were regular personal repositories. And yes, I am Maintainer for my own repos so I have admin priviledges.

[2019-05-05 13:24] rarkins commented on #14
The post creates a verifiable webhook secret and registers it with GitLab using your admin privileges, which are only kept for the duration of the transaction. So it’s not actually possible to set up manually unless either you disclose me your admin token manually or I disclose you the service-wise secret seed term. I’ll see if the logs give enough hint as to why it’s failing, or if we can add add

[2019-05-05 13:25] rarkins commented on #14
Do you have the same username on GitLab as here?

[2019-05-05 13:27] ChristianIvicevic commented on #14
On Gitlab my username is NearAutomata, you'll see it in the activity log of the Renovate Bot over there that I attempted to hook my (forked) monorepo multiple times to see whether the hook gets installed.

[2019-05-07 21:59] ChristianIvicevic commented on #14
I just noticed that the bot has created a MR in my test repository 2 days ago without me noticing it and without and hooks. Furthermore the bot has updated the onboarding MR. I guess it would be working properly on a schedule when I finish onboarding, but it would not react to me updating the configuration as no hooks are installed.

[2019-05-19 19:04] ChristianIvicevic commented on #14
@rarkins Any updates on this issue?

[2019-06-20 16:31] esetnik commented on #14
I have the exact same problem as @ChristianIvicevic. No webhooks are installed.

[2019-07-26 16:53] MadLittleMods commented on #14
Same issue when trying to use with the Gitter `webapp` project (it's in a subgroup), https://gitlab.com/gitlab-org/gitter/webapp

 - No webhooks created, https://gitlab.com/gitlab-org/gitter/webapp/-/settings/integrations)
 - The project isn't listed in the Renovate dashboard sidebar after enabling, https://renovatebot.com/dashboard

`POST https://v1.renovateapi.com/gitlab/repos/3601513/webhooks`

[2019-07-27 07:29] rarkins commented on #14
Sorry for the inconvenience everyone. I will look into this again.

As a reminder, if you manually add user `@renovate-bot` to projects then you should see it running hourly (or at worst every 2-3 hours if there’s high load). Repos will show up in the dashboard once there exists at least one log for it, ie not immediately.

Addition of webhooks is to provide “reactiveness”, Eg merge an MR and see

[2019-08-06 07:52] jeromelachaud opened #1 "[Question] GitLab repository not onboarded"
### Which Renovate are you using? CLI, App, or Pro
App

### Which platform are you using? GitHub, GitLab, Bitbucket Azure DevOps
GitLab

### Have you checked the logs? Don't forget to include them if relevant

I don't have any logs so far

### What is your question?
Hi there.
I'd like to trigger the an onboarding PR but I have got this 404 error while trying to activate a repo from the renovatebot

[2019-08-06 07:59] jeromelachaud commented on #1
I should add that I had successfully triggered an onboarding PR but on a feature branch instead of master. My bad. Nonetheless, I merged it into the main branch but no dependencies PRs had been triggered so I thought I should start from scratch. Without any success so far.

[2019-08-06 08:43] rarkins commented on #1
Can you tell me the repository name or a job ID if any completed jobs exist?

[2019-08-06 09:23] jeromelachaud commented on #1
the repository name is `insight`

[2019-08-06 10:27] rarkins commented on #1
This repo was set to status=disabled so it wasn't getting queued hourly. I've manually changed it to enabled so you should see it serviced within the next 2-3 hours maximum.

[2019-08-06 11:06] jeromelachaud commented on #1
Awesome 🎉, I keep my eyes on it and will update the issue accordingly.

[2019-08-06 13:52] jeromelachaud commented on #1
Looks all good now. Thanks a lot! ❤️

[2019-08-06 13:52] #1 closed, assigned to rarkins

[2019-08-07 18:50] piotr-s-brainhub opened #3 "PR not opened for a new repo"
**What Renovate type are you using?**
Renovate GitHub App?

**Describe the bug**
- I pushed `renovate.json` file to https://github.com/dmx-io/dmx-notifications-legacy
- I added that repo in the renovate app config
- but after 3 hours there's no PR with updating dependencies though many dependences are outdated there e.g. `@dmx/validation-schemas`

**Did you see anything helpful in debug logs?**
[c

[2019-08-07 21:17] nick opened #2 "PRs not being created"
**What Renovate type are you using?**
Renovate GitHub App

**Describe the bug**
I merged the renovate config into master, but am not seeing the PRs with the changes

**Did you see anything helpful in debug logs?**
https://renovatebot.com/dashboard#github/OriginProtocol/origin could be related? It says 'registry-failure'

[2019-08-08 06:32] rarkins commented on #2
This should now be resolved. Onboarding repos are only queued daily, while enabled repos are queued hourly. Upon detecting a merged onboarding PR, we queue a job which normally serves to update the status from onboarding to enabled. In this case we got unlucky with npmjs erroring during that job and as a result the repo remained classifed as onboarding and hence scheduled only daily.

[2019-08-08 06:32] #2 closed, assigned to rarkins

[2019-08-08 06:48] rarkins commented on #3
This should now be resolved. The repo was classified as 'disabled', which means it's no longer queued regularly. I updated this manually and triggered a new job, which succeeded.

[2019-08-08 06:48] #3 closed, assigned to nobody

[2019-08-08 18:55] piotr-s-brainhub commented on #3
thanks

[2019-08-08 19:03] piotr-s-brainhub opened #4 "automerging with a merging commit"
I need renovate to automerge PRs with a merging commit.
I used to have `"automergeType": "pr",` (the default value) so it was automerging but without pushing a merging commit.

I thought `"automergeType": "pr-comment",` will work but it just a commit with `automergeComment` message which seems strange.

The third possible value (https://renovatebot.com/docs/configuration-options/#automergetype) is

[2019-08-19 22:48] berndartmueller opened #5 "Renovate does not run jobs on gitlab repos (stale?)"
**What Renovate type are you using?**
Renovate Gitlab App

**Describe the bug**
It seem that renovate jobs are not run for all activated repos. Maybe they are marked stale (https://github.com/renovatebot/renovate/issues/3926)?

**Did you see anything helpful in debug logs?**
No

**Expected behavior**
Renovate jobs should run on all activated gitlab repos.

**Screenshots**

**Additional context**
G

[2019-08-20 03:47] rarkins commented on #5
I found 4 repos listed in the DB, 3 are classifed as "onboarding" (scheduled daily) and 1 is "enabled". i.e. none stale. You should see jobs showing up - I put them all to the front of the queue too just now.

[2019-08-20 06:30] 123Haynes opened #6 "dashboard does not list enabled repos"
I have renovate enabled for 2 public repositories on gitlab.com.
It works just fine, but when I access the dashboard under https://renovatebot.com/dashboard
it doesn't show me the logs for those repos.
I can verify that it is enabled, but the enabled repos are not listed otherwise.
See attached screenshot.

![screenshot-renovatebot com-2019 08 20-08_25_29](https://user-images.githubusercontent.com

[2019-08-20 12:58] simoneb opened #7 "Getting PRs as soon as possible"
### Which Renovate are you using? CLI, App, or Pro

App

### Which platform are you using? GitHub, GitLab, Bitbucket Azure DevOps

GitHub

### What is your question?

We are using Renovate to bump internal package versions and we would need it to do it as timely as possible after a package is released.

We're not watching closely how long on average it takes, but we've seen some cases when getting

[2019-08-20 13:02] rarkins commented on #7
Is the repo private? Are the packages published on npmjs privately or a separate registry? If you log into the dashboard, does it report any jobs occurring between when the package was published and when the PR was created?

[2019-08-20 13:05] simoneb commented on #7
- It's a private repo.
- Packages are published to a separate, non-npmjs, private registry.
- This happened a few days ago so the logs are gone now.

[2019-08-20 17:21] simoneb commented on #7
I have an example. We released a package at a certain time yesterday, this is the output of the `npm view` command:

[code]

This is the job that ran: 88900915

The PR was created by Renovate to bump to that package version at 7:08PM GMT+2, which is 2+ hours after the package was published.

[2019-08-24 08:48] rarkins commented on #7
Sorry, I missed this update at the time. Renovate is set to queue repos  every hour although during high load then not all repos might get serviced each our. Because private registries have no link to Renovate for new release notification or cache invalidation, it’s a matter of the new release being detected the next time Renovate runs on schedule - it can never be instant.

I’d expect 2 hours to

[2019-08-24 09:49] simoneb commented on #7
Ok I understand, thanks for the clarifications. Is there a way for us to get those PRs more quickly? Just for our internal packages.

Here's the (redacted) configuration:

[code]

[2019-08-25 09:58] rarkins commented on #7
I just pushed a new feature to the app. If you add `"masterIssue": true` to your config then you'll get a mini-dashboard "Master Issue" added to your repo. Down the bottom is an "Advanced" section which lets you tick a box to request a new run on your repo at any time. So in cases where you're impatient for an update, ticking this box should put your repository to the front of the queue and speed

[2019-08-25 09:58] #7 closed, assigned to rarkins

[2019-09-05 00:30] 9ntonio opened #8 "My dashboard is giving me a status of 401 (Unauthorized)"
### Which Renovate are you using? CLI, App, or Pro
I'm using the github app.

### Which platform are you using? GitHub, GitLab, Bitbucket Azure DevOps
GitHub

I am trying to get into my dashboard to see why I am not getting an initial PR for my repo. When I look at the console I am getting the following:

[code]

How do I give the app github authorization when I do see it is not listed. I'm assumi

[2019-09-05 04:08] rarkins commented on #8
When you log in, do you see that repository listed on the left side bar? And then you click and you get that error?

[2019-09-05 16:46] 9ntonio commented on #8
<img width="1792" alt="Screen Shot 2019-09-05 at 9 45 22 AM" src="https://user-images.githubusercontent.com/2566895/64361682-e9396000-cfc1-11e9-969b-3c8462df2ceb.png">

Not exactly, this is what I see continuously without resolve.

[2019-09-07 21:59] 123Haynes commented on #6
In my case the issue seems to be a 502 error when calling the installations endpoint.
Not sure what the root cause is though 😢

![502](https://user-images.githubusercontent.com/209302/64480637-684db480-d1cb-11e9-8e7b-747a5dede8fe.png)

[2019-09-08 06:33] rarkins commented on #6
@123Haynes Sorry, the dashboard API was actually down temporarily. Can you retry now?

[2019-09-08 13:21] 123Haynes commented on #6
@rarkins now I see one of the 2 repos where renovate is enabled.
`orika-spring-boot-starter` does not show up, despite being enabled for a few months now.

[2019-09-08 14:22] rarkins commented on #6
@123Haynes I can confirm that that repo is being run every hour, so I'm not sure why it's not showing up in the list. I'll take a look.

[2019-09-09 16:31] 9ntonio commented on #8
Bumping in hopes that this issue can be resolved.

[2019-09-09 16:51] rarkins commented on #8
Can you take screenshots prior to there? Eg directly after you log in? I want to see if anything loads and  what api calls fail

[2019-09-09 16:58] 9ntonio commented on #8
<img width="1792" alt="Screen Shot 2019-09-09 at 9 56 32 AM" src="https://user-images.githubusercontent.com/2566895/64550667-3ed67b00-d2e8-11e9-83c0-6e5b0a60a266.png">
<img width="1792" alt="Screen Shot 2019-09-09 at 9 56 44 AM" src="https://user-images.githubusercontent.com/2566895/64550668-3ed67b00-d2e8-11e9-9df3-887bd8d11f6a.png">

I was able to log off then log back in. I noticed that I needed

[2019-09-09 17:09] rarkins commented on #8
That was unfortunately a system-wise bug earlier today. Do you have any subsequent logs for each repo?

[2019-09-09 17:36] 9ntonio commented on #8
After reviewing the logs for my repo's, I see that I do have the initial configuration PR for all except this one - https://github.com/9ntonio/portfolio/

Here is the log:

<img width="1792" alt="Screen Shot 2019-09-09 at 10 35 37 AM" src="https://user-images.githubusercontent.com/2566895/64553121-a80cbd00-d2ed-11e9-8aeb-318632ee0bf8.png">

[2019-09-09 20:30] 9ntonio commented on #8
Do I need to reset the bot in order to have the repo above begin to create an initial PR?

[2019-09-09 20:50] rarkins commented on #8
You will need to add a `renovate.json` manually for 9ntonio/portfolio and be sure to include the config `"includeForks": true`. Renovate skips forks whenever you have installed Renovate into "all repositories" because in the majority of cases users don't intend for forks to be covered by Renovate.

[2019-09-09 20:52] 9ntonio commented on #8
Thank you! That makes complete sense. I'll install per your instruction s and see if it addresses my issue. If it does I will close this ticket out.

[2019-09-11 16:28] 9ntonio commented on #8
Hello, I have another question. I've added the renovate.json file to my project - https://github.com/9ntonio/portfolio/blob/develop/renovate.json

Yet I am not seeing any actions for this repo when I go to my dashboard. My goal is to get the bot to see the settings and begin to create PR's, but I am not seeing any interactions. I assume I am missing something in the set up for this goal to work?

[2019-09-13 16:05] 9ntonio commented on #8
Bumping in hopes I can receive some feedback. Thanks.

[2019-09-13 16:51] rarkins commented on #8
I gave it a bump just now and it ran, but didn't create PRs due to the schedule. Should hopefully create PRs the next time it's within schedule.

[2019-09-13 16:51] 9ntonio commented on #8
Thank you!

[2019-09-14 00:43] 9ntonio commented on #8
Thanks again for your help. The bot is working again as you said previously. I appreciate the help and time.

[2019-09-14 00:43] #8 closed, assigned to rarkins

[2019-09-16 09:07] Nemo157 opened #9 "Documentation link from dashboard is broken"
**What Renovate type are you using?**
hosted App

**Describe the bug**
Documentation link in the upper-right of the dashboard leads to https://app.renovatebot.com/docs, which is a 404.

[2019-09-16 18:47] rarkins commented on #9
Thanks, now fixed

[2019-09-16 18:47] #9 closed, assigned to rarkins

[2019-09-18 18:36] ChristianIvicevic commented on #14
This issue has been stale for a while and so far I have been using a custom instance of renovate invoked on my server and I'd like to move over to your automated bot. Are there any updates in respect to this issue?

[2019-09-30 15:01] esetnik opened #10 "Renovate Dashboard Job Logs Missing"
**What Renovate type are you using?**
Renovate dashboard https://app.renovatebot.com/dashboard with gitlab

**Describe the bug**
All job logs for all projects are missing. My setup has been working perfectly for months and I haven't changed anything.

**Did you see anything helpful in debug logs?**
I can't see any job logs anymore. The API returns an empty array for job logs on all projects.
[code

[2019-09-30 15:12] esetnik commented on #10
Possibly related to renovatebot/renovate#4053

[2019-09-30 15:28] rarkins commented on #10
For every repository? Does the repository list show?

[2019-09-30 15:29] esetnik commented on #10
The repository list shows but all the repositories job logs are suddenly empty.

[2019-09-30 15:33] esetnik commented on #10
@rarkins I just sent you an email with a screencast of what i'm seeing. I hope that is ok.

[2019-09-30 19:11] esetnik commented on #10
Possibly related to renovatebot/config-help#372. I am seeing for the last 3 days no new PRs have been opened on any of my projects, so i'm assuming that renovate has completely stopped working.

[2019-10-01 07:21] rarkins commented on #10
This is now resolved, thanks for raising the issue. Some GitLab accounts had been mistakenly flagged as disabled and so were not being serviced. I unflagged those affected and they've now all run and should continue running.

[2019-10-01 07:21] #10 closed, assigned to nobody

[2019-10-01 12:34] esetnik commented on #10
@rarkins thanks for getting it sorted out. Renovate looks to be working again for me. Extend my thanks to the renovate team for building a great project.

[2019-10-01 13:50] SantiMA10 commented on #14
I have the same issue if I can provide more information to help to solve it, let me know.

`POST https://v1.renovateapi.com/gitlab/repos/11131635/webhooks` -> 404

[2019-10-03 16:34] monochromata commented on #14
Same issue here. It would be nice if you could reproduce and fix this.

[2019-10-16 17:42] ajcann opened #13 "Cannot encrypt GCP service account JSON for Docker Registry password"
**What Renovate type are you using?**
Hosted App

**Describe the bug**
In order to authenticate to Google Container Registry with a read-only service account one must use the username '_json_key' with the password being the service account's json key file  (something like 2500 characters). When trying to encrypt this service account json file at https://renovatebot.com/encrypt, I see 'false' in th

[2019-10-17 04:38] andyli opened #11 "[Question] No webhook nor onboarding PR for my GitLab project"
### Which Renovate are you using? CLI, App, or Pro
GitLab App, set up with the dashboard.

### Which platform are you using? GitHub, GitLab, Bitbucket Azure DevOps
GitLab.com

### Have you checked the logs? Don't forget to include them if relevant
Yes, there is my repo ([giffon.io/giffon](https://gitlab.com/giffon.io/giffon)) on the side bar, but there is no log.

### What is your question?
I don'

[2019-10-17 04:51] rarkins commented on #11
Hi, your repo is now onboarding: https://gitlab.com/giffon.io/giffon/merge_requests/1

I will try to troubleshoot the lack of Webhook some other time. Do you see anything in the console log if you uninstall/install using the dashboard?

[2019-10-17 05:08] andyli commented on #11
Here you are:
![renovatebot](https://user-images.githubusercontent.com/103977/66979070-c466fb00-f0de-11e9-8e2b-2add953d6387.png)
The last 2 lines appear after I uninstall and install. The ones before that was already there when I open the settings.

[2019-10-17 07:31] rarkins opened #12 "Static/known IPs for requests"
The Renovate App runs on ephemeral EC2 instances on AWS so currently it is not possible to whitelist the Renovate IP range without whitelisting an entire region of AWS, which defeats the purpose.

Resolving this would require either:
1. Registering our own IP address range and mapping that into AWS (pretty time-intensive and expensive), or
2. Running all outbound requests via a proxy like Squid. T

[2019-10-17 07:39] rarkins commented on #13
Unfortunately this is a technical limitation with no immediate solution. Our plan is to eventually allow secrets to be uploaded via the Dashboard instead of encoded in config, but that's going to take a bit of work first.

I'm not familiar enough with GCP to know if there's a better way. For AWS's ECR we dynamically generate long authentication keys at runtime by using a standard key/secret pair i

[2019-10-17 15:10] esetnik commented on #14
I still am having this. @rarkins is it on your radar?

[2019-10-17 15:10] esetnik commented on #14
Is there a way to figure out what the webhook url is supposed to be so we can just manually add it to gitlab under the integrations tab?

[2019-10-17 18:07] rarkins commented on #14
The webhook URL secret is unique per-repo so that people can't retrieve it out of gitlab.com and then go nuts spoofing webhooks at us. This means you can't add it manually.

[2019-10-17 18:09] esetnik commented on #14
What if you expose it in the renovate dashboard so that we can grab it from there and then add it to gitlab?

[2019-10-17 18:10] rarkins commented on #14
Yes, it's a possibility but that also involves adding a new API + UI to do so, so it's not something quickly possible. I'm going to see if I can get more debugging out of the backend first.

[2019-10-17 18:12] rarkins commented on #14
Can you try uninstalling/reinstalling a repo now, so I can see what logs I can get dumped?

[2019-10-17 18:22] esetnik commented on #14
@rarkins I just uninstalled/reinstalled a repo and got 404 from `https://v1.renovateapi.com/gitlab/repos/14873529/webhooks`. I'd be happy to jump on a slack or communicate directly if you need anything further from me to help debug this issue.

[2019-10-17 18:29] esetnik commented on #14
[code]

[2019-10-17 18:40] rarkins commented on #14
Thanks, I think I can now reproduce it, although it's pretty confusing so I'm not sure when it can be fixed.

[2019-10-17 21:23] ajcann commented on #13
Kind of you to offer! I think we'll experiment with a few other options at the moment.

I do believe GCP offers access tokens as well (similar in spirit to the ECR scheme), but I'm not familiar enough with it to say whether it would be a major effort to support.

I don't suppose GitHub Apps have the ability to read secrets (new feature of repos that was introduced with Github Actions) of repos to

[2019-10-18 11:25] rarkins commented on #14
I have fixed one scenario that was affecting my own account, I now see this in every project I've installed:

![image](https://user-images.githubusercontent.com/6311784/67090225-d366af80-f1a9-11e9-875f-3cc698781bc8.png)

Please confirm if you see the same:
(a) after logging out then back in, and
(b) after uninstalling/reinstalling

[2019-10-18 12:12] esetnik commented on #14
Working great for me now. Thanks @rarkins.

[2019-10-18 12:19] #14 closed, assigned to rarkins

[2019-10-18 12:57] monochromata commented on #14
Works for me too, yay :-)

[2019-10-27 04:21] cdaringe commented on #38
[![Renovate](https://img.shields.io/badge/renovate-enabled-brightgreen.svg)](https://renovatebot.com)

`[![Renovate](https://img.shields.io/badge/renovate-enabled-brightgreen.svg)](https://renovatebot.com)`

for now, i'm using shields.io ^

[2019-10-27 17:46] JamieMagee commented on #38
@cdaringe Nice! I took your idea a little further, and added the renovate logo. I put the code [in a gist](https://gist.github.com/JamieMagee/63feb6f16e0acb8f4624a0310a413661)

[![Renovate](https://img.shields.io/badge/renovate-enabled-green?style=for-the-badge&logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNjkgMzY5Ij48Y2lyY2xlIGN4PSIxODkuOSI

[2019-10-30 10:44] noraj opened #15 "Renovate not running jobs on newly installed gitlab repos"
**What Renovate type are you using?**

Gitlab Hosted App

**Describe the bug**

same as renovatebot/renovate#3926, Renovate not running jobs on newly installed gitlab repos (not onboarding PR, no config file creation)

**Did you see anything helpful in debug logs?**

N.A. (not self hosted)

**To Reproduce**

Add renovate bot on a gitlab.com project, nothing happens.

**Additional context**

I inst

[2019-10-30 11:49] rarkins commented on #15
I hid and locked the old issue. It’s a bad idea to comment on old and closed issues as your comments are more likely to be missed. How long ago did you do the installation?

[2019-11-18 19:50] #15 closed, assigned to nobody

[2019-11-18 19:50] #11 closed, assigned to rarkins

[2019-11-18 19:50] rarkins commented on #6
@123Haynes is it showing up now?

[2019-11-18 23:26] noraj commented on #15
@rarkins I'm sorry I missed your question 20 days ago. In fact Renovate is not running jobs on newly installed gitlab repos, it is doing it only after one commit is pushed.

[2019-11-19 00:30] 123Haynes commented on #6
@rarkins I can't check it at the moment, unfortunately.
When I try to open https://renovatebot.com/dashboard I see the login screen for about 1 second before being redirected to https://app.renovatebot.com/register

I managed to click "sign in with gitlab" once and I'm able to authenticate myself, but I'm still being redirected to the registration page 😢

Since I can't login, I also can't check if

[2019-11-19 08:11] rarkins commented on #6
Can you try an alternative browser, and let me know in case that makes a difference? And then if not, please let me know what OS/browser it is you're using and if you see any errors in the console logs when you try this?

[2019-11-19 10:11] 123Haynes commented on #6
@rarkins I tested this with Windows 10 and the current Chrome.
 I also tested it just now with Ubuntu and Firefox 70.0.1 on a different PC and get the same results.

I've uploaded my network trace here (because github won't let me attach it for some reason):
https://gitlab.com/snippets/1914602
You can extract it and import it in the firefox developer tools to see all network calls.

With Firefox I

[2019-11-19 10:35] rarkins commented on #6
Thanks. None of those errors/warnings appear related to the dashboard code.

Re: the har, all it's showing is that the request to `/user` said you need activation and then you were redirected to the form. I think we'd need at least the next step of form submission -> dashboard redirect -> `/user` request in order to draw any conclusions.

[2019-11-19 11:31] 123Haynes commented on #6
@rarkins I see my error now.
It is just very confusing UX design.
Apparently I was already logged in so `/dashboard` immediately redirected me to the form to accept the new TOS.
Unfortunatly this is really confusing, because the endpoint is called `/registration` and the form mentions registration on several places.

I think this can be improved a lot by changing the wording.

The form is about ac

[2019-11-19 18:01] x9nico opened #16 "[Question] Unable to receive pull requests"
### Which Renovate are you using? CLI, App, or Pro
Free trial

### Which platform are you using? GitHub, GitLab, Bitbucket Azure DevOps

GitHub
### Have you checked the logs? Don't forget to include them if relevant
Yes, I have only no-plans.

### What is your question?

I don't have received the PR for enabling the bot. Normal ?

[2019-11-19 18:15] rarkins commented on #16
On which day did you install and is it this GitHub account you are posting from?

[2019-11-19 18:16] x9nico commented on #16
Yes, I installed since somes months but before I never used it.

[2019-11-19 18:41] rarkins commented on #16
It sounds like the account got blocked for having no plan back then and maybe wasn't reactivating now. I have enqueued some of your repos manually although they are private so I cannot easily check the results to verify. Please me know if any specific repos do not have PRs and you still have no logs in the dashboard.

[2019-11-20 15:54] #16 closed, assigned to rarkins

[2019-12-09 10:08] julienmonnard opened #17 "[Question] Is there an issue with the bot schedule?"
Hello! I hope I'm in the right place for that.

We have the Renovate bot installed and running nicely for about a month on our Github private repository (DND-IT/cms-frontend) with the Github App, but it seems that it is not being scanned anymore, the bot doesn't react to anything.

What I tried:
- click the "rebase" checkbox in a couple of created PR's
- merge an existing Renovate PR
- one slot is

[2019-12-09 12:51] rarkins commented on #17
Can you retry the rebase checkbox again now?

[2019-12-09 13:01] julienmonnard commented on #17
Yes, it seems that everything is coming back up, thank you!
Was is something we did wrong?

[2019-12-09 13:17] vikstrous opened #18 "gpg signing key expired"
**What Renovate type are you using?**
hosted, github

**Describe the bug**
The github gpg signing key is expired.

![image](https://user-images.githubusercontent.com/482425/70438537-202a8080-1a9f-11ea-9e1f-007b96988fb6.png)

**Did you see anything helpful in debug logs?**

n/a

**To Reproduce**

Let renovate make a new PR

**Additional context**

We require signed commits before merging, so renova

[2019-12-09 13:23] rarkins commented on #17
No, there was a problem on the server side, sorry. The bot had problems signing commits so was exiting. FYI you can see logs at renovatebot.com/dashboard in future

[2019-12-09 13:23] #17 closed, assigned to nobody

[2019-12-09 13:24] rarkins commented on #18
Thanks, fix in progress

[2019-12-09 13:29] julienmonnard commented on #17
Ok, good to know! Thank you again

[2019-12-09 13:51] rarkins commented on #18
If you click the rebase/retry checkbox on existing PRs, you should see the new commits show up as Verified, e.g. this one I just tried:
![image](https://user-images.githubusercontent.com/6311784/70440768-93ca8e80-1a9b-11ea-9b22-b887634ff921.png)

Initially my plan was to extend the existing key's validity on GitHub but they require you to delete then re-add and show a huge warning about all previo

[2019-12-09 14:59] vikstrous commented on #18
Looks good now. Thanks.

[2019-12-09 14:59] #18 closed, assigned to nobody

[2019-12-16 12:03] ThibaultVlacich opened #19 "Lock file maintenance not working for composer"
**What Renovate type are you using?**

Hosted app, GitHub.

**Describe the bug**

I'm getting this error in my lock file maintenance PR:

**Did you see anything helpful in debug logs?**

[code]

[2019-12-18 10:45] rarkins commented on #19
I've worked out the root cause for this. It's because npm and composer are being combined into the same branch. In the app npm is set to use the embedded `npm` while composer needs to use the Docker version. The npm setting "wins" but then composer fails to find a global composer instead of dockerized. I need to think more on how to resolve this, sorry.

[2019-12-27 15:24] Jamesking56 opened #20 "Renovate dashboard not showing any repos in sidebar"
I'm slowly moving away from self-hosting renovate to using Renovate's GitLab App now that it is free (thanks again).

So I've added `@renovate-bot` to some repos on GitLab and registered on the dashboard. However, I can't see any repos in the sidebar of the dashboard, they simply do not populate?

[2019-12-27 15:43] rarkins commented on #20
Actually now is unfortunately a bad time to migrate! Something has triggered a rate limiting today that’s blocking Renovate from processing most repos. If there are no successful jobs then you won’t see any entries in the sidebar yet

[2019-12-27 15:47] Jamesking56 commented on #20
Ah right OK, happy to wait for rate limiting issues to be resolved thanks for letting me know :+1:

Is there or will there be a status page for hosted renovate?

[2019-12-27 16:00] rarkins commented on #20
One day. For now I just tweeted a notification after receiving confirmation from GitLab that it’s a new rate limiting that triggered it.

[2019-12-27 16:01] Jamesking56 commented on #20
Cheers @rarkins

[2019-12-27 16:01] #20 closed, assigned to nobody

[2019-12-27 17:18] rarkins opened #21 "GitLab service down"
GitLab.com added a new per-user rate limiting that has brought down the Renovate hosted service. The bot can't possibly service the number of users/repositories we have while staying within a regular user's API rate limits. We are trying to reach out to GitLab.com for a path forward but I do not predict anything happening quickly.

Please subscribe to this issue to be informed when updates are ava

[2019-12-27 17:19] rarkins commented on #21
Cc @Jamesking56

[2020-01-07 04:03] emmatown opened #22 "Not receiving pull requests on a GitHub repo"
Hey there 👋

I've added the Renovate app to https://github.com/keystonejs/keystone a little bit ago and it hasn't received any pull requests. I've tried adding a config and reinstalling the app but that didn't change anything. It's showing up in the dashboard but there aren't any jobs/logs for the repo.

Thanks in advance for your help 😃

[2020-01-07 09:36] rarkins commented on #22
Can you do the following?
- go to https://github.com/apps/renovate
- Click the "Configure" button
- Select "keystonejs" from the list of options
- Enter password if prompted
- Scroll to the bottom
- Take a screenshot of what you see

It should show a list like this:

![image](https://user-images.githubusercontent.com/6311784/71884874-0e390d80-3131-11ea-86af-a9e76599525f.png)

(screenshot taken fro

[2020-01-07 10:10] emmatown commented on #22
<img width="588" src="https://user-images.githubusercontent.com/11481355/71887358-a19e2d00-3189-11ea-8b94-1bd2da2fbcc8.png">

[2020-01-07 10:12] rarkins commented on #22
Thanks for that confirmation. GitHub's API does not appear to be returning that repository in the list of installed accounts, so I will debug it a little to be sure and then raise a support ticket with GitHub if necessary.

[2020-01-09 07:57] allanmc opened #23 "Changing the default renovate.json for our repositories"
### Which Renovate are you using? x the right box:

- [ ] Renovate Open Source CLI
- [x] WhiteSource Renovate App
- [ ] Renovate Pro
- [ ] Other (please write below)

### Which platform are you using? x the right box:

- [x] GitHub.com
- [ ] GitHub Enterprise
- [ ] GitLab.com
- [ ] GitLab self-hosted
- [ ] Bitbucket Server
- [ ] Bitbucket Cloud
- [ ] Azure DevOps

### What would you like to do?

A

[2020-01-09 08:06] rarkins commented on #23
Done, should be active within a minute or two

[2020-01-09 08:06] #23 closed, assigned to nobody

[2020-01-14 16:32] Jamesking56 opened #24 "WhiteSource Renovate GitLab app commits are unverified"
**What Renovate type are you using?**

Renovate GitLab App

**Describe the bug**

Commits by the Renovate user are unsigned / unverified.

**Did you see anything helpful in debug logs?**

_Irrelevant_

**To Reproduce**

1. Hook GitLab repository up to Renovate GitLab
2. Wait for a renovate PR
3. View the commit to see GitLab shows it as unverified:

![screenshot](https://user-images.githubusercont

[2020-01-14 16:33] Jamesking56 commented on #24
Looks like its using a GPG key to sign the commits, but the GPG key does not exist on the bot user:

![screenshot](https://user-images.githubusercontent.com/253237/72362705-87190600-36eb-11ea-960f-876385633ad1.png)

[2020-01-14 16:39] rarkins commented on #24
It's uploaded to GitHub but I guess needs uploading to GitLab too

[2020-01-18 20:53] piotr-s-brainhub opened #25 "renovate not updating PR"
**What Renovate type are you using?**

hosted App

**Describe the bug**
Renovate doesn't update https://github.com/brainhubeu/react-carousel/pull/91 though I checked ` If you want to rebase/retry this PR, check this box`

**Did you see anything helpful in debug logs?**
I see jobs are run hourly or half-hourly though AFAIK renovate is supposed to run each 15 minutes.

[2020-01-19 05:32] rarkins commented on #25
No, Renovate runs hourly per schedule plus any time it needs due to webhooks.

You need to look into the logs and search for the branch `renovate/major-all-dependencies`.

[2020-01-19 05:41] rarkins commented on #25
Here's what I see:

[code]

I thought `Branch pr rebase requested: false` was strange. Then noticed `Found PR #176`. It seems like Renovate has been confused by the PR from your colleague that has the same branch name, and thinks it's the PR it should be updating. For now the only way to unblock would be to have your colleague rename his branch (which I think would require the PR to be closed/newl

[2020-01-20 15:37] piotr-s-brainhub commented on #25
I closed that PR so renovate updated its PR.

[2020-01-20 15:37] #25 closed, assigned to nobody

[2020-01-28 10:42] cfra opened #26 "Poetry lock file does not get updated"
**What Renovate type are you using?**

We are using the GitHub app.

**Describe the bug**

We are using Poetry to manage our Python dependencies. This worked fine for a long time. :slightly_smiling_face:

Recently, the pull requests opened by Renovate fail to update our `poetry.lock` file, which worked fine in the past.

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

Th

[2020-01-28 11:29] rarkins commented on #26
Thanks for the reproduction repo - that's perfect to let me debug what's going on.

[2020-01-28 14:05] rarkins commented on #26
It seems to be a python compatibility problem: https://github.com/renovate-tests/poetry-problem/pull/2#issuecomment-579210006

The Renovate production app is currently fixed to Python 3.7.5. I have an issue to track supporting dynamic python detection/use here: https://github.com/renovatebot/docker-poetry/issues/6

[2020-01-28 15:08] itajaja commented on #26
I am afraid that's not the problem. we also started encountering this yesterday, but we are on 3.7

[code]

here are some relevant logs:

[code]

started happening to all our poetry repos across the board

[2020-01-28 15:18] rarkins commented on #26
In that case please create a second reproduction repo that reproduces the latest problem you're describing (which appears to be "No lock file found").

[2020-01-28 15:20] rarkins commented on #26
And actually I will now hide the latest comments from this issue because the original PR description did describe and reproduce a problem (Python 3.8 compatibility) while the second description is different. Please create a new issue once you have a new reproduction.

[2020-01-28 15:27] itajaja commented on #26
I will, but one thing that is curious is the timeline. the fact that both problem popped at at the same time _might hint_ to the fact that the problem are related. plus, I think that this issue jumps to the conclusion that it's a python compatibility problem, but, again, might not. the log messages ("No lock file found") are the same in my logs and in this case.

[2020-01-28 15:32] rarkins commented on #26
We probably have two different problems, so that's why to have two different issues to track them. I guess you maybe discovered the 3.8 compatibility issue by accident (reproduced by accident above instead of the original problem) when trying to troubleshoot the the original one.

FYI I'm guessing that your problem with 3.7 is not related to python compatibility but instead is some other bug we ha

[2020-01-28 15:56] itajaja commented on #26
here you go: https://github.com/itajaja/renovate-repro/pull/1

again, I am tempted not to open another issue, because the output is **exactly the same**, so it doesn't appear to be a python 3.8 problem. logs are exactly the same:

[code]

but this time on 3.7

[2020-01-28 16:25] rarkins commented on #26
But it’s not the same at all. One of them runs poetry and the other doesn’t. Although, there might be some difference of local CLI mode vs hosted app mode - I will check.

[2020-01-28 16:30] rarkins commented on #26
When I fork and run from CLI, it runs poetry fine: https://github.com/renovate-tests/renovate-repro/pull/2/files

This would indicate there's some type of path problem in the hosted app that's not reproducible in the local CLI.

[2020-01-28 17:03] rarkins commented on #26
I think I've found and fixed the problem in the app - a relative local path was set incorrectly for poetry. Example fixed PR here: https://github.com/rarkins/renovate-repro/pull/1/files

Can you rebase your 3.7 PRs and verify it's fixed for you too?

[2020-01-29 19:16] itajaja commented on #26
oops somehow I didn't read this yestarday. I tried, and worked. thanks! much appreciated 🙏

[2020-01-29 19:55] rarkins commented on #26
Thanks for your help debugging it and sorry for the inconvenience it caused!

[2020-01-29 19:55] #26 closed, assigned to rarkins

[2020-02-03 04:41] UberMouse opened #27 "registry-issue for initial PR"
Hi,

Just installed the Github app and I'm not getting an onboarding PR created. Looking at my Renovate dashboard I can see one failed job (id 137500457) with the result `registry-failure`. It's hard to view the log because it contains a few enormous lines (it caused Chrome to hang so I had to cURL the log down locally) but I couldn't glean anything useful or fixable on my end out of it.

[2020-02-03 04:55] rarkins commented on #27
This is a little strange. The first one failed due to a parse error and dumped what it was trying to parse, so that's why it's 1MB.

The second one got the following error instead:

[code]

I don't know if it's just bad luck or not, let's wait for try 3 next hour.

[2020-02-03 05:00] UberMouse commented on #27
Great, thanks for looking into it so quickly!

[2020-02-03 19:36] UberMouse commented on #27
Still failing with the same error loading https://registry.npmjs.org/@graphql-codegen%2Ftypescript 🤔
I can load it fine in my browser

[2020-02-03 20:23] rarkins commented on #27
It hadn't run again yet - onboarding repos are queued up only once per day. I enqueued it manually and it appears to have run fine.

[2020-02-03 20:23] #27 closed, assigned to nobody

[2020-02-03 20:24] UberMouse commented on #27
Thanks :)

[2020-02-04 09:50] rarkins commented on #22
Hi there, closing this as I believe it's all running properly now.

[2020-02-04 09:50] rarkins commented on #21
GitLab removed the rate limiting after 2 days, now closing this.

[2020-02-04 09:50] #21 closed, assigned to nobody

[2020-02-04 09:51] rarkins commented on #19
Hi, just an update. If you can separate out your npm and composer PRs then this should work. Let me know if that would work for you and if so then I'll advise on config.

[2020-02-04 09:52] rarkins commented on #13
I don't believe so, unfortunately

[2020-02-04 09:52] #5 closed, assigned to nobody

[2020-02-10 10:57] ThibaultVlacich commented on #19
Locfile maintenance is now working properly for both npm and composer, I didn't have to change anything to my config.

[2020-02-10 10:57] #19 closed, assigned to rarkins

[2020-02-11 15:31] henrist opened #28 "npm registry-failure due to ECONNRESET / parse error"
**What Renovate type are you using?**

Hosted App

**Describe the bug**

An excessive amount of job runs fails with registry-failure. For the job log available, only two runs did not fail.

**Did you see anything helpful in debug logs?**

See e.g. job ID 140436240 (and the image below for more jobs)

I've checked multiple jobs, and they all seem to fail on `https://registry.npmjs.org/@typescript-e

[2020-02-11 16:18] rarkins commented on #28
Thanks for raising the issue. I noticed recently that we're seeing frequent errors for some `@graphql-codegen/*` and `@typescript-eslint/*` packages. Do you use the same package in other repositories and *it works*?

[2020-02-11 17:00] henrist commented on #28
Yes, I have other projects using the same package that is reported to fail under this project. Example: https://github.com/capraconsulting/webapp-baseline

I see no errors for the last job runs for that project. I haven't yet come across any of my projects having the same issue, but I haven't checked all 100+ of them.

The last failure, job ID 140444181, has an interesting failure. It fails on thi

[2020-02-11 20:47] rarkins commented on #28
That's really surprising that your other project has not been having the same problem. Unless it's a wild coincidence/bad luck for the first repo you described, this surely must point to something, but it eludes me so far.

I checked the logs and found some ECONNRESET errors for packages with only ~200kb downloads too.

BTW the Renovate app parses then caches results from npmjs (shared across all

[2020-02-12 08:41] eostman commented on #28
We are seeing the same issue for job id 140660288 and in another of our repositories for id 140553848.

[2020-02-12 08:44] henrist commented on #28
@rarkins I checked the last 20 job runs and they all failed with either ECONNRESET for https://registry.npmjs.org/@typescript-eslint%2Feslint-plugin or the parse error I showed above. Whas the ECONNRESET you saw for other packages only for other repos?

@eostman Do you have consistent errors for a given package like the image I posted or only sporadic errors?

[2020-02-12 08:58] rarkins commented on #28
Sorry, what do you mean exactly? I'm seeing 40-50 connection resets per hour, of which around half of those are typescript-eslint or graphql-codegen. It's a really big surprise to me if lookups for the same packages work all the time for certain repositories while failing nearly all the time for others.

[2020-02-12 09:03] henrist commented on #28
Thinking of this:

I was wondering if you saw this (concistently) on _other repos_, so that the bot "never" runs successfully. I'd expect you get some random ECONNRESET naturally due to unstable network etc, but nearly every run like in my case is strange.

[2020-02-12 09:07] rarkins commented on #28
Right now I only have the ability to check anecdotally/manually, but I didn't observe another case of another URL failing every single time. The ones with smaller packages that I checked might have 2-3 failures per day though, so enough for me to consider it regular/consistent.

[2020-02-12 10:48] henrist commented on #28
Jumping from version 19.131.2 to 19.131.4 the jobs seems to be running successfully again.

![image](https://user-images.githubusercontent.com/703354/74328079-91333080-4d8d-11ea-81e5-6c4f2261e2cb.png)

I see you added some changes just now (https://github.com/renovatebot/renovate/commit/13a673665986ce9bb4c82870dab48f178cdcaead) that got part of 19.131.5, so I guess that it working again is not due

[2020-02-12 12:56] rarkins commented on #28
I don't think there were any fixes in that version that would affect things, however I *did* also update our running version of Node 12 behind the scenes. I would be celebrating the news except that I don't detect any noticeable drop in the total stats.

[2020-02-12 13:37] eostman commented on #28
In one of our repositories the issue has happend sporadicly, in the other one  it looks like the image below
![image](https://user-images.githubusercontent.com/1128095/74339820-7cff2b80-4dad-11ea-8e5a-a4e291606588.png)

[2020-02-12 13:38] rarkins commented on #28
Do you both have npm tokens configured in these repos' configs, e.g. for your own private packages?

[2020-02-12 13:39] eostman commented on #28
We do yes

[2020-02-12 15:03] rarkins commented on #28
Good news - I think the retry mechanisms I added today may have finally worked. I see logs of recovering from ECONNRESET errors in equal quantity to logs of retrying them.

[2020-02-12 15:43] henrist commented on #28
That's great! I have not seen any more errors since before the changes.

No NPM tokens configured on this part.

[2020-02-14 01:28] UberMouse commented on #28
Just chiming in here to say this is also affecting me. It's gotten better since yesterday, gone from a close to 90%+ failure rate to somewhat less, still high. No NPM token is configured for private packages. All the errors do happen on @typescript-eslint or @graphql-codegen packages. I've seen it fail for a variety of the packages under those scopes.

Out of the previous 148 runs I can see in the

[2020-02-14 05:50] rarkins commented on #28
@UberMouse what repository / job ID?

[2020-02-14 06:01] UberMouse commented on #28
@rarkins Job ID #141306747

[2020-02-14 06:47] rarkins commented on #28
OK. It seems we have progressed past `ECONNRESET` errors (by retrying extra) but now still get frequent `JSON.parse()` errors due to incomplete data returned. I guess we can keep tracking in this issue.

[2020-02-14 10:07] rarkins commented on #28
We are now retrying `ParseError` results from npmjs too, which should lead to a higher completion rate. Global stats are improving and anecdotally it appears to be working on repositories I've checked. Anonymous example:

![image](https://user-images.githubusercontent.com/6311784/74521700-219e7c00-4f1a-11ea-89d2-f9fab1a37e02.png)

Too soon to celebrate though considering every time we whack a mole

[2020-02-15 04:43] UberMouse commented on #28
Thanks @rarkins! Perfect now, haven't had a failure since then.

[2020-02-17 23:25] Jamesking56 commented on #24
This still looks to be an issue for me

[2020-02-18 06:15] rarkins commented on #24
Yes, it’s still an open issue

[2020-02-20 08:10] Jamesking56 opened #29 "Renovate GitLab App ignoring my repo"
I just noticed that a while back I hooked up a repo to Renovate and no renovations are happening at all. There is a valid `renovate.json` file and it has an Onboarding MR that has merged.

https://app.renovatebot.com/dashboard#gitlab/momentumstudio/composer-repository

[2020-02-20 08:14] rarkins commented on #29
Repos with no commits for 2+ weeks get marked as "stale" and retried only ~weekly or if meaningful commits happen before then (renovate.json, package.json, etc). According to our DB, the last two checks:

![image](https://user-images.githubusercontent.com/6311784/74913658-62d2d800-53c1-11ea-839b-a5f0427dc2dc.png)

[2020-02-20 08:15] Jamesking56 commented on #29
OK, the dashboard doesn't show me any renovations at all, just a blank list which is what confused me a bit.

I think it would be good if the dashboard said that the repo was stale

[2020-02-20 09:22] rarkins commented on #29
Yeah, the dashboard shows only the last 3 days of logs. Showing the repository status is a good idea

[2020-02-28 12:44] leaumar opened #30 "Onboarding repo is unexpectedly slow/unresponsive: repo staleness detection not visible to user"
**PS**: after writing the entire post below, github suggested "similar issues" that cleared everything up. It seems renovate considered my repo stale the moment it posted its onboarding PR, my updates to the repo since then have not been picked up yet, and this entire situation is the logical result of renovate's stale repo scheduling.

~~renovatebot/renovate#3926 mentions the stale scheduling but

[2020-02-29 12:17] leaumar commented on #30
Renovate kicked in this morning and things are working at the expected pace now :) Thanks

My feedback about the unexpected UX is the only part of this ticket that's still relevant now.

[2020-02-29 12:33] rarkins commented on #30
Thanks, I was meaning to get back to you soon re: that. Application parts can be much more challenging to implement than the core functionality! Leaving this open until we can add some of the suggested improvements

[2020-03-01 00:08] Geit commented on #31
We're giving Renovate a try on some of our Repos and we've noticed this issue, or a very similar one, appears to be present.

- We're using the Hosted Application
- We have an `.npmrc` in the repo that utilizes environment substitution, so we want to override it with one that has values substituted in.
- We have an encrypted `.npmrc` with tokens for a private registry defined within renovate.json

[2020-03-01 08:59] rarkins commented on #31
@Geit maybe I can do some troubleshooting or increased logging from the app side. Perhaps could you create a new/dedicated repo for reproducing this in the app, if you don't have one already? i.e. that way you're not holding up or polluting any real repo with troubleshooting.

Once you've done that, please tell me the repo name or job ID (preferred) of when the problem occurred so that I can take

[2020-03-01 09:44] viceice commented on #31
I've seen such auth problems too on our self-hosted renovate cli (docker-slim).

We have a `.npmrc` and `.yarnrc` file in our repo root. I've tried to configure the `npmrc` renovate config option to add auth, which doesn't work. My workaround is to add a `.npmrc` with the auth to `/home/ubuntu/`

As i tried the last time we need to use username and password auth (against proget npm registry), mayb

[2020-03-01 12:30] Geit commented on #31
Thanks for the prompt reply @rarkins - I've created a small reproduction repo and attached it to the Renovate hosted application. The job ID for its first run was #147251406 and I've also added you as a collaborator to the repo on the off chance that helps.

[2020-03-02 19:48] leaumar opened #32 "Reconfiguration PR not being validated, logs not showing"
I'm using the gitlab bot on some active repos with success. I filed reconfiguration PRs on 2 of them several hours ago and see no interaction with them by the bot yet.

- https://gitlab.com/Marnes/image-background-color-picker/-/merge_requests/14
- https://gitlab.com/Marnes/doubleclick-image-downloader/-/merge_requests/34

In the meantime the bot has been running (several log entries visible) and

[2020-03-04 11:00] piotr-s-brainhub opened #33 "dependencies dashboard"
As renovate sometimes skipped some of my dependencies and renovate dashboard was not enough for me, I decided to implement my own dashboard showing all dependency versions though it's readonly because it would require too much work from me to make it clickable.

I have something like that:
<img width="1440" alt="Screenshot 2020-03-04 at 11 35 37" src="https://user-images.githubusercontent.com/2085

[2020-03-05 14:55] piotr-s-brainhub opened #34 "a community to report bugs"
As `renovate` community is already big and it's still growing, I thought it would be great to have a place to report breaking changes occurring in a new patch or minor version e.g. https://github.com/Automattic/mongoose/issues/7660

I see the following categories:
- serious vulnerability - a new version is a real virus e.g. sending somewhere the content of local files - IMO, even NPM should get ri

[2020-03-05 15:00] rarkins commented on #34
We are definitely looking to harness crowd feedback on PRs for the benefit of users. I've moved this to app support because it would be something that utilizes the app's data rather than baked into the OSS code itself.

[2020-03-05 20:35] leaumar commented on #32
After 3 days there has been no change, so I think something must be broken or the docs are simply not correct anymore. In the meantime I've received a welcome email from someone from whitesource. Can I take this issue to that person, or is this repo still the place to go for tech support?

[2020-03-05 20:54] rarkins commented on #32
Sorry for the delay in getting back to you. I'm not sure that reconfiguration feedback is supported on GitLab for now but will look into it to confirm. It's not like the full Onboarding PR with descriptions - it just validates the config and then adds a pass or fail checkmark. You can add this functionality to your pipelines or run it manually itself using the [config validator](https://github.com

[2020-03-05 20:57] leaumar commented on #32
Oh ok, that makes sense. Thanks for the tip.

![image](https://user-images.githubusercontent.com/3950300/76024880-25775a00-5f2c-11ea-99f7-bcf5681d4593.png)
First 4 calls were for loading a working project. Bottom 2 for the one that's stuck. `https://v1.renovateapi.com/gitlab/repos/Marnes/image-background-color-picker/jobs` returns `403`. These are solo projects under my ownership and my repo confi

[2020-03-05 21:08] rarkins commented on #32
I might know why. GitLab have an API bug where it returns an empty permissions level in some cases, and the Renovate API validates that you have write access to a repo in order to view the logs. No permissions level means you get denied access. There's a workaround by including a minimum permissions level in the url query string itself, and then performing no client-side validation. I'll see if I

[2020-03-05 21:11] leaumar commented on #32
Yeah, it shows up the same as the rest:
![image](https://user-images.githubusercontent.com/3950300/76025958-34f7a280-5f2e-11ea-9f4e-315a71b6dd6e.png)
![image](https://user-images.githubusercontent.com/3950300/76025978-3e810a80-5f2e-11ea-92a1-05d9e0404486.png)

[2020-03-06 22:21] Jamesking56 commented on #29
I have another repo this is happening to, but this one **has** been updated today (and has a new tag as well).

This one is a public repo, so might be easier for you to troubleshoot with.

https://app.renovatebot.com/dashboard#gitlab/momentumstudio/laravel-theme
https://gitlab.com/momentumstudio/laravel-theme

[2020-03-13 01:56] jmhodges opened #36 "Go 1.14 go.mod files are breaking"
When renovatebot updates a Go 1.14 go.mod file (like this PR https://github.com/jmhodges/howsmyssl/pull/314/files ), it's removing the "## explicit" lines in `go.mod`. That's breaking the build when commands are run with `go -mod=vendor`.

[2020-03-17 12:37] harrytang opened #37 "GitLab this commit was signed with an unverified signature"
**What Renovate type are you using?**

GitLab

**Describe the bug**

this commit was signed with an unverified signature

**Did you see anything helpful in debug logs?**

N/A

**To Reproduce**

commits made by the bot are using unverified signature.

[2020-03-18 15:30] rarkins commented on #37
Duplicate of #24

[2020-03-18 15:30] #37 closed, assigned to nobody

[2020-03-18 15:32] rarkins commented on #24
I've attempted to copy over the GPG key to the right account on GitLab.com right now, but I'm seeing neither verified or unverified feedback on existing commits I checked:
![image](https://user-images.githubusercontent.com/6311784/76977633-dbcc3d80-6935-11ea-8291-14fa4787fba2.png)

[2020-03-18 15:37] rarkins commented on #24
OK here we go:
![image](https://user-images.githubusercontent.com/6311784/76978128-9bb98a80-6936-11ea-971b-a5694054b6e4.png)

Seems like you might need to be in Branch view to see it. In MR view I don't see any indication:

![image](https://user-images.githubusercontent.com/6311784/76978203-b429a500-6936-11ea-9a8a-e02ca0b311aa.png)

[2020-03-18 15:37] #24 closed, assigned to nobody

[2020-03-18 15:37] Jamesking56 commented on #24
Thanks @rarkins :+1:

[2020-03-20 20:40] vidavidorra commented on #38
Would love to see this feature~ @rarkins is there any update/timeline on it?

[2020-03-20 21:54] rarkins commented on #38
Nothing really planned yet. Moving this to the app repo though because it's dependent on the service and not the open source code.

[2020-03-21 15:30] travi commented on #39
it seems that this delay still exists. is it still something under consideration or simply the intended behavior at this point? i'm in the process of evaluating where to migrate my projects after the recent greenkeeper announcement and think renovate could be a really good fit for all of the details i've looked into so far except for this one.

i've set up many of my projects to expect that the pr

[2020-03-21 16:58] rarkins commented on #39
FYI I added this `app-support` repo to separate out app-specific topics from the Renovate CLI repo, so just moved this issue accordingly.

Renovate too has a "what's the combined status of this branch?" logic but I never ported it to the webhook handling. I still find it pretty frustrating that GitHub makes it so hard to simply know "is this branch green?".

@travi thanks for the background info.

[2020-03-21 18:51] travi commented on #39
1000x yes, this!

Totally understood. the natural delay that results from the complexities of tying a complex pipeline like this together are pretty clear to me and accepted, assuming things are still moving along. waiting for queues makes sense, but not being queued at all yet is significantly more painful for this type of use case.

I think that is pretty acceptable. I'll admit that I'm used to

[2020-03-26 06:42] hagevvashi opened #40 "Want to introduce "renovate" into our product but couldn't because of security confidence"
I wanted to use "Renovate" in our product repository, however our security team prevent us from using "Renovate" before they get confident of the security about "Renovate".

I have to answer the questions from our security team.

The reason I am writing is to ask those questions.

Below is a list of questions.

1. Are internal vulnerability assessments (network and applications) performed separate

[2020-03-26 07:58] rarkins commented on #40
Hi @naoto-ota,

If your team is worried about security, I suggest that you:
(a) self-host, and
(b) use the open source version, which your security team can inspect themselves if doubting

At this moment we unfortunately do not have time to answer detailed security questions about the app nor would we provide guarantees or contact points for a free app/service.

[2020-03-26 07:58] #40 closed, assigned to nobody

[2020-04-01 18:42] otbe opened #41 "Cant retrieve jobs/logs for Gitlab project"
I try to setup Renovate to be able to propose updates for a docker image hosted in AWS ECR. So far it doesnt create MRs. Im not quite sure what is the issue here because I cant retrieve jobs or logs for this particular project. The only difference to other projects is that it lives inside a Subgroup. So for example

`my-company/group1/group2/repo`

If I click on the project in https://app.renovate

[2020-04-02 04:13] rarkins commented on #41
It's a bit hard without knowing which repository it is. Can you open dev tools and see if there's any more information give in the logs about the failures. e.g. is the 404 from Renovate's API or from GitLab's directly?

[2020-04-02 04:40] otbe commented on #41
Like mentioned the 404 comes from `https://v1.renovateapi.com/gitlab/repos/my-company/group1/group2/repo/jobs`. I guess its related to the level of nesting because `my-company/sub-group/repo` works but `my-company/sub-group1/sub-group2/repo` fails

[2020-04-10 14:10] suda opened #42 "Renovate bot stopped working on GitLab"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitLab.com

### Have you checked the logs? Don't forget to include them if relevant

Well, there are no logs as the dashboard became empty.

### What would you like to do?

The Renovate bot worked perfectly with my GitLab account and some time ago (probably around two months ago, that's when the last Me

[2020-04-10 16:37] suda commented on #42
Hey @rarkins, whatever you did seems to work! I see new MRs coming in. Thank you! 🎉

[2020-04-10 16:37] #42 closed, assigned to rarkins

[2020-04-10 16:38] rarkins commented on #42
The logs show a couple of runs from about an hour ago, i.e. about an hour after you posted the issue. It's possible that the repo was classified as "stale" (no commits for > 2 weeeks) and so stopped getting automatic updates until it detected activity again. I didn't actually do anything manually and can't be sure because we don't save the status history - it shows active now.

[2020-04-21 10:19] eddarmitage opened #43 "Automatically approve GitLab MRs when automerge is enabled"
I've been trying to get automerge configured for [one of my GitLab repositories](https://gitlab.com/eddarmitage/photo-import) using the hosted GitLab bot, but I believe the current stumbling block is that Renovate won't approve the MR, which is a requirement for the repo ([Sample MR](https://gitlab.com/eddarmitage/photo-import/-/merge_requests/134)).

The MR is marked as "🚦 Automerge: Enabled". Th

[2020-04-23 18:46] Qrious opened #44 "https://renovatebot.com/encrypt returns 404"
**What Renovate type are you using?**
Github App

**Describe the bug**
In the [documentation about private modules](https://docs.renovatebot.com/private-modules/) you reference multiple times to [https://renovatebot.com/encrypt](https://renovatebot.com/encrypt). However this returns a 404 not found at the moment.
As a result i'm unable to create encrypted tokens/password for the renovate configura

[2020-04-23 19:19] rarkins commented on #44
Hi, it should redirect to https://app.renovatebot.com/encrypt now. Sorry for any inconvenience.

[2020-04-23 19:19] #44 closed, assigned to nobody

[2020-05-05 19:25] ThibaultVlacich opened #45 "Bot not creating PR for the node Docker image"
Renovate Bot is not creating a PR to update nodejs in my Dockerfile. My Dockerfile declares `node:13.14.0-alpine` and the latest version is `node:14.1.0-alpine`

Here's the full log:

[code]

As you can see, the new version is found:
[code]

But no PR is created.

[2020-05-11 14:15] ChipWolf opened #46 "Force pushing commits which modify renovate config should trigger a job"
**What would you like Renovate to be able to do?**
Renovate should trigger a job if a commit modifying the Renovate config is changed with a force push.

**Describe the solution you'd like**
Currently, only new commits which change the Renovate config appear to trigger an immediate job. I'd like force pushed amended commits to the Renovate config to also trigger a build to assist when debugging ch

[2020-05-11 14:24] viceice commented on #46
I guess you use the `renovate app` with `github.com` ?

That should already work, as renovate app will queue a job run on push. Maybe There is some rate limiting or a already running job.

[2020-05-11 14:30] rarkins commented on #46
What type of "event" does that trigger? We watch for `build` events:

[code]

So if it's not working, either it's a different event to `push` or the changes do not show up in the `committed` fields we look at.

[2020-05-13 16:20] ChipWolf opened #47 "App is refusing to rebase/retry a PR"
I'm having an issue with a couple of PRs on a repo [here](https://github.com/HRZNStudio/playhrzn-k8s/pull/20) and [here](https://github.com/HRZNStudio/playhrzn-k8s/pull/21).

After some heavy rebasing/reordering and squashing of commits on the master branch, I click the retry checkbox in the body of the PR, but nothing seems to happen.

Any help would be hugely appreciated on this. Thanks!

[2020-05-13 19:50] rarkins commented on #47
If you log into the dashboard, are you seeing *jobs* being run? FYI I noticed some warnings in the logs earlier, I think they were for that repo. Missing `registryUrls` for a helm chart IIRC

[2020-05-13 20:20] ChipWolf commented on #47
~~Aye yeah, that's probably because I haven't added the registry for the Pomerium deployment yet.~~ Done.

Jobs look like they're running, last one was 24 mins ago.

[2020-05-13 20:30] ChipWolf opened #48 "More than one open PR for the same dep?"
Is the app supposed to raise more than one PR for the same dependency?

Example: HRZNStudio/playhrzn-k8s#25 HRZNStudio/playhrzn-k8s#26

[2020-05-13 20:44] ChipWolf commented on #46
Turns out this works as expected after some experimenting.

[2020-05-13 20:44] #46 closed, assigned to nobody

[2020-05-14 07:39] rarkins commented on #47
If you filter by the branch name, you should see all the logs relating to it and hopefully get some idea of why the rebase didn't take effect. FYI if Renovate thinks there's no *changes* compared to what's on github.com then it skips doing a force push.

[2020-05-14 13:38] piotr-s-brainhub opened #49 "renovate opens PRs for a disabled repo"
A few hours ago I configured Renovate in the `brainhubeu` organization to work only in the following repos:
<img width="510" alt="Screenshot 2020-05-14 at 15 31 37" src="https://user-images.githubusercontent.com/20856232/81940668-209fe800-95f8-11ea-9115-5dd606baa222.png">
<img width="547" alt="Screenshot 2020-05-14 at 15 31 43" src="https://user-images.githubusercontent.com/20856232/81940676-2269a

[2020-05-14 13:46] rarkins commented on #49
This repo still shows up as actively installed for Renovate in GitHub's backend. You could maybe try adding it then removing it again, but you'll need to contact GitHub if that doesn't work because we have no control over it. Be sure to click "Save" each time after selecting repos.

[2020-05-14 13:51] piotr-s-brainhub commented on #49
sorry, it was a configuration for another GitHub app

[2020-05-14 13:51] #49 closed, assigned to nobody

[2020-05-15 18:39] kanjieater opened #50 "Tar file's not being added with offline mirror in yarn"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitLab.com

### Have you checked the logs? Don't forget to include them if relevant

### What would you like to do?

As mentioned here (sorry for posting in the wrong place), I want to be able to have my dependencies updated by renovate, and when a dependency is updated, I want to be able to do an offli

[2020-05-15 19:06] rarkins commented on #50
Strange, because it works fine from CLI here: https://github.com/renovate-tests/yarn1/pulls

[2020-05-15 19:09] rarkins commented on #50
Exact copy of the repo but renovated using the app reproduces the problem: https://github.com/renovate-tests/yarn2/pull/1/files

[2020-05-15 19:11] rarkins commented on #50
Looks like a problem with Yarn in production - I'll try to solve it soon

[2020-05-17 18:49] ChipWolf commented on #47
This appears to have eventually resolved itself

[2020-05-17 18:49] #47 closed, assigned to nobody

[2020-05-18 21:55] ChipWolf opened #51 "No PRs for updates which are removed from commit history"
If a branch is force-pushed, in effect removing a previously merged update, Renovate doesn't appear to raise a PR to correct this.
Is there a way to force this behaviour?

[2020-05-26 22:21] ChipWolf opened #52 "Master issue reporting some merged PRs are unmerged + closed"
As seen here https://github.com/HRZNStudio/playhrzn-k8s/issues/37

With `masterIssue` enabled, it seems there are some pull requests indicated to be closed submerged whereas they are all merged.

[2020-05-29 08:24] y0zg opened #53 "Renovate bot doesn't raise MRs after onboarding renovate.json to new repo"
### Which Renovate are you using?
WhiteSource Renovate App

### Which platform are you using?
GitLab.com

### What would you like to do?
I added `renovate.json ` into new repo but don't see any new MR after couple of days.
Note: current setup works for other repos already , but in current repo we don't use MR requests, just commits into `develop` branch.

Is there anything I missed?

Thank you in

[2020-05-29 08:33] rarkins commented on #53
What is the repo name? I'm pretty sure we have some rules in place to skip GitLab repos which have MRs disabled.

[2020-05-29 08:37] y0zg commented on #53
Ehm, repo name `redhat-api`. Should I raise dummy MR to trigger the bot? Anything I can add into config in order to override this behavior?

`renovate.json`:
[code]

[2020-05-29 08:58] rarkins commented on #53
Do you mean that your repo has MRs enabled, but you disabled them for Renovate?

[2020-05-29 09:11] y0zg commented on #53
Well, we don't have any restrictions on this repo (meaning this is similar repo as all other where renovate bot works) and user `@renovate-bot` has got Developer permission similar to other repos.
I have only an idea to create dummy MR as we currently merging directly into `develop` branch

[2020-05-29 09:32] rarkins commented on #53
We don't have any detected repositories ending in `/redhat-api`. I will check if our scanning is working fine later.

[2020-05-29 09:33] y0zg commented on #53
what about `/catalyst-api` repo name ?

[2020-05-29 09:40] rarkins commented on #53
It ran 10 minutes ago and did not detect any repo with `redhat` in it. There are two repos ending in `/catalyst-api`.

[2020-05-29 10:07] y0zg commented on #53
Let's try to solve this with `catalyst-api` Any idea what is wrong? Should I raise a dummy MR? The settings are the same as I described previously for `redhat-api` (not in scope currently)

Thank you in advance @rarkins for prompt replying! Much appreciate!

[2020-05-29 10:24] rarkins commented on #53
Do you see logs for it when you sign in with your gitlab credentials to app.renovatebot.com ?

[2020-05-29 12:08] y0zg commented on #53
Just dots or blank screen, I tried to re-install it by pressing "gear" icon about 1 hour ago but still the same. Any glue?

[2020-05-29 18:06] rarkins commented on #53
Check developer tools if there’s any problem loading the page

[2020-06-01 08:31] y0zg commented on #53
If I disable/enable repo, I see webhook POST call worked fine. Do you have any other ideas how to check this? Probably issue is that there are several repos with the same name owned by different members?
![screenshot_20](https://user-images.githubusercontent.com/6439757/83390808-346e8b00-a3fb-11ea-89a6-bd65ec455def.png)

[2020-06-01 11:30] rarkins commented on #53
Is the repo a fork?

[2020-06-01 11:58] y0zg commented on #53
Nope, but I see similar repo name `catalyst-api`  in different our own gitlab group. Any other ideas what I can check?

[2020-06-01 13:32] y0zg commented on #53
It seems MR started triggering with renovate upgrade after probably dummy MR I was created. As I mentioned, we were pushing directly  into this repo  without PRs, probably this was a case

[2020-06-01 21:11] #53 closed, assigned to nobody

[2020-06-03 08:34] ThibaultVlacich opened #54 "Haven't got a lockfile maintenance PR for a month"
Today I noticed that I haven't got a lockfile maintenance for at least a month.

Here's my Renovate config:
[code]

I'm seeing in the logs: `DEBUG: yarn.lock hasn't changed(branch="renovate/lock-file-maintenance")`, but if I run a `yarn upgrade` on my local computer, there is A LOT of changes.

EDIT: In fact, I'm noticing that I haven't got a lock file maintenance PR in any of my repositories for

[2020-06-03 08:39] rarkins commented on #54
Please let me know the repository name or a job number so that I can look it up.

[2020-06-03 08:43] ThibaultVlacich commented on #54
The repository I noticed the issue (if it is an issue) is `ThibaultVlacich/lucklesslovelocks.com-front`, but it's a private repository.

But I'm also noticing the same issue on [ThibaultVlacich/csv-to-strings](https://github.com/ThibaultVlacich/csv-to-strings/), which is public.

[2020-06-03 10:05] rarkins commented on #54
Thanks for the info. I've now identified a problem in our code which is leading to them getting skipped and will patch it today. By default it runs on a schedule of Monday mornings, but you can override that if you prefer. I'll confirm to you once done.

[2020-06-03 11:07] rarkins commented on #54
This is now live in the app.

[2020-06-03 11:07] #54 closed, assigned to nobody

[2020-06-03 11:39] ThibaultVlacich commented on #54
I forced the creation of the PR with the master issue and it worked. Thanks

[2020-06-04 08:14] davidwinter opened #55 "No GitLab onboarding for a fresh setup"
**What Renovate type are you using?**

GitLab

**Describe the bug**

From the Renovate dashboard, I enabled my repo and can see that the bot has been added as a Developer, and the webhook added.

On the Renovate dashboard, after refreshing, the repo does not appear anywhere. If I click the settings again, I can see it is enabled for the repo still.

I've not received an Onboarding PR either, and t

[2020-06-04 08:50] JamieMagee commented on #55
@davidwinter I'm going to transfer this issue to renovatebot/config-help for now, as it's not clear if this is a bug or not yet.

Can I ask how long you've waited? Some other users in the config-help repo said that they had to wait up to an hour to receive their first PR.

[2020-06-04 08:54] davidwinter commented on #55
Thanks, @JamieMagee - it's been more than an hour now.

[2020-06-04 09:10] rarkins commented on #55
Onboarding GitLab repos in the app takes up to 2 hours. GitLab has no app interface that lets us get a webhook when we are added to a repo.

The repo list in the UI is based on *logs* so if no run yet then it won't show up.

[2020-06-04 09:22] davidwinter commented on #55
Thanks @rarkins - I'll keep an eye out.

Would it not be possible to trigger the initial onboarding PR after you have added the bot as a Developer member/added the webhook?

[2020-06-04 10:25] davidwinter commented on #55
@rarkins it's been more than two hours since I submitted the issue. Is there a scheduled job run every 2hrs for new repos that are added? Should that have run by now? Sorry to sound impatient.

I'm really keen to start using renovate, and just want to make sure I've done everything right in terms of setup.

[2020-06-04 10:40] rarkins commented on #55
What's one of the repo names you're waiting for?

[2020-06-04 10:47] davidwinter commented on #55
On GitLab, `leavesunderfoot/nimblenote`

[2020-06-04 11:18] davidwinter commented on #55
@rarkins unsure if you triggered something, but I just received the onboarding pull request :boom:

[2020-06-04 11:20] rarkins commented on #55
It was in the job queue and ran by itself right when I was taking a look. Should be onboarding now, and you should hopefully be able to view logs via the dashboard too

[2020-06-04 11:23] davidwinter commented on #55
@rarkins great, thanks so much for looking, really appreciate it. Can confirm it is now also appearing in the dashboard.

I think perhaps if the onboarding PR can be setup as discussed further up, that'd be great for the UX and just remove any initial uncertainty.

Great job with this all btw, it's an amazing tool :+1:

[2020-06-04 11:24] rarkins commented on #55
Thanks, yes I agree it would be nice to enqueue a job immediately when the webhook is created.

[2020-06-12 12:24] janjagusch opened #56 "Gitlab app hangs"
**What Renovate type are you using?**

Gitlab Hosted App

**Describe the bug**

I am trying to use the Gitlab dashboard at https://app.renovatebot.com/dashboard

1. Trying to access the logs of a project results in an infinite loading screen. I waited up to 30 minutes and it was still showing the loading screen.
1. All projects in the "Install/Uninstall Repositories" section (after pressing the ge

[2020-06-17 08:16] trim21 opened #57 "github app can't find preset config"
**What Renovate type are you using?**

github app

**Describe the bug**

github app raise a issue `Action Required: Fix Renovate Configuration` saying `Error type: Cannot find preset's package (@trim21)`

**Did you see anything helpful in debug logs?**

[code]

**To Reproduce**

https://github.com/Trim21/bgm38/issues/54

**Additional context**

it works fine when I try cli on commit 4b2f523a1

[2020-06-17 08:29] rarkins commented on #57
There was a cache glitch in the app for a period today sorry. It should resolve the next time it runs.

[2020-06-17 08:29] #57 closed, assigned to nobody

[2020-06-29 22:22] Jamesking56 commented on #29
This is still happening for me here as well https://app.renovatebot.com/dashboard#gitlab/momentumstudio/magento2shopify

[2020-07-03 22:54] davissorenson opened #59 "After upgrading to Yarn 2.0.0-rc.36 & PnP, Renovate no longer updates yarn.lock, complains about artifact update problem"
I updated Yarn in my project to 2.0.0-rc.36 and started using Plug'n'Play at the same time. Renovate now only updates package.json, and doesn't touch yarn.lock. Also, the "renovate/artifacts" check fails with an "Artifact file update failure" as well as the below comment.

<img width="930" alt="Screen Shot 2020-07-04 at 1 44 53" src="https://user-images.githubusercontent.com/1462923/86500174-fec11

[2020-07-04 05:30] rarkins commented on #59
Yarn v2 support is still a work in progress. There's an issue in the main repo you can track instead, but I'm on mobile right now so don't have it handy.

[2020-07-04 06:19] davissorenson commented on #59
Thanks, that makes sense! I'll link the issue here for anyone coming from Google:
https://github.com/renovatebot/renovate/issues/5230

[2020-07-04 06:20] #59 closed, assigned to nobody

[2020-07-07 19:00] alecgerona opened #60 "Dashboard not detecting all Gitlab repositories under organization"
**What Renovate type are you using?**

Hosted App with Gitlab

**Describe the bug**
Hi, am trying to install renovate on a private repository on a private organization in Gitlab. I can add renovate bot manually through the members tab but the dashboard can't see the project at all. Or any projects under that directory for that matter. I can add the bot and it made the merge request that starts int

[2020-07-07 19:14] rarkins commented on #60
Please provide:
- Screenshot of what you see when you load the dashboard
- Screenshot of the developer tools 404 messages (some of them are expected, some may not be)
- The name of one repository which is not working, or enough information to identify it

[2020-07-07 19:38] alecgerona commented on #60
Hmm. I'll try to block out the least since these are all private but on the left side menu I see the project that got discovered by the crawler that I added renovate to. When I click the gear it shows every project on every subgroup of our Gitlab organization except for one group.

When I click the gear it starts the search loop and it's mostly 404 except for the one project I have installed renov

[2020-07-07 21:19] rarkins commented on #60
The client JS first calls `"projects?archived=false&min_access_level=40&per_page=100"` using your token/identity.

Then for each repository it finds, it checks if Renovate's identity has access. If it doesn't, then there's a 404 response.

It sounds like this might be caused by #35 ?

[2020-07-08 02:53] alecgerona commented on #60
Most probably. We have more than 100 repositories. Can we increase that?

[2020-07-08 14:54] alecgerona commented on #60
As a workaround, is it enough adding the bot manually through the project's members? I successfully received the integration MR. Will merging it add the webhook as well?

[2020-07-08 15:35] rarkins commented on #60
Webhooks can only be added by administrators so we decided not to ask for that permission and have not added the capability on our server side even if given permissions. Hence the only way to add the webhooks is upon login or install for the dashboard, because it's done using your personal oauth token and not stored. I'll look into whether we can handle pagination.

However renovate will still run

[2020-07-08 15:40] alecgerona commented on #60
So I can safely merge the MR for now? The only con is updates run every hour instead of instantly with webhooks? Am I understanding this correctly?

[2020-07-08 16:40] rarkins commented on #60
Yes

[2020-07-08 17:01] alecgerona commented on #60
Great. Thanks. Might as well leave this issue open for when the pagination logic is implemented. Thank you!

[2020-07-08 17:04] rarkins commented on #60
We have #35 so let's close this. Please subscribe to the other

[2020-07-08 17:07] #60 closed, assigned to nobody

[2020-07-10 12:33] arnabkd opened #61 "Renovate jobs not running on some repos."
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitHub.com

### Have you checked the logs? Don't forget to include them if relevant

Yes, there are none for the last few days.

### What would you like to do?

Could you look into what can be done apart from removing some repos and adding them back? That seems to have solved the problem *for now*, but

[2020-07-10 13:39] rarkins commented on #61
Are these your personal repos? i.e. github.com/arnabkd/* ? It's possible that they got classified as "stale", which means they are checked no more than once per week. Next time please let us know the repository name so it can be checked on the backend.

[2020-07-10 13:47] arnabkd commented on #61
Hi!

These repos are owned by my organisation at work github.com/finansnorgeforsikringsdrift/tffauto-declus
How does a repository get marked as stale? Can you check if this particular one is marked as stale? There are currently 5 pending PRs on the repository (which is the limit). However, increasing the limit did nothing and the same goes for clicking the checkmark for force-running renovate on t

[2020-07-10 14:42] rarkins commented on #61
Repositories get marked as stale if they've received no commits to the base branches for at least two weeks. `finansnorgeforsikringsdrift/tffauto-declus` is not marked as stale though. Taking a deeper look, there seems to be a strange problem with the repo where it's either timing out or locking up somehow. I see that its jobs get accepted by workers but they go silent until they get an automatic

[2020-07-10 21:20] rarkins commented on #61
Finally had a breakthrough and it seems the problem is it timing out trying to query your nexus server.

[2020-07-11 00:54] arnabkd commented on #61
That’s very strange because previously the nexus server didn’t cause timeouts. Is there a way to tell renovate for ignore all packages that come from our nexus server?

[2020-07-11 05:39] rarkins commented on #61
Yes, we added a way to do that just recently and I'll look to apply that today. However when I added the same unreachable registry to a test pom.xml locally I can't reproduce the problem.. so potentially I made an incorrect assumption.

[2020-07-11 12:40] arnabkd commented on #61
Maybe there are some caching issues? :P

[2020-07-11 13:15] rarkins commented on #61
Does the repo have any Bundler dependencies?

[2020-07-12 04:20] at-wat opened #62 "Logs are unavailable on the dashboard"
### What Renovate type are you using?

WhiteSource Renovate App

### Which platform are you using?

GitHub.com

### The problem

On the dashboard page, logs after July 10th, 6 PM (UTC) seems unavailable.
I have checked multiple repositories over multiple GitHub organizations, all repository seems in the same condition.

For example of my public repositoy,
[Job ID 201179148 (Friday, July 10th 2020,

[2020-07-12 05:58] rarkins commented on #62
Thank you for raising this. Unfortunately the logs were getting truncated so it was a valid but empty file. It's now fixed and you should see at least one recent working log (201869061) for this repo.

[2020-07-12 05:58] #62 closed, assigned to nobody

[2020-07-12 07:46] at-wat commented on #62
Thank you for fixing it!

[2020-07-12 12:14] arnabkd commented on #61
If you mean Bundler as in the [Ruby package manager](https://bundler.io/), then no.

[2020-07-13 11:54] rarkins commented on #61
FYI this repo was found to be one of three (out of 150k+) that somehow manage to kamakaze our job workers. Soon after starting renovating, the worker goes to essentially 0% CPU and never returns a result until it's eventually detected and killed 1+ hours later. I've disabled these three repos including yours in the app for now and would appreciate it if you can help me debug it.

Unfortunately no

[2020-07-13 13:00] arnabkd commented on #61
Hi,
I would be happy to help you debug. However, can we coordinate this privately? Maybe if I can reach out to your email and we can coordinate over Teams/Zoom/Slack?

[2020-07-13 13:05] rarkins commented on #61
I'm going to be fairly offline the next week and not responding particularly quickly, but feel free to email the address on my profile.

[2020-07-13 13:56] arnabkd commented on #61
I sent you the debug log to your email.

[2020-07-16 06:48] monperrus opened #63 "renovate uses two identities `renovate[bot]` and `renovate-bot`"
By looking at the stats of my project https://github.com/INRIA/spoon/pulse

I see that Renovate has two different Github identities:

* `renovate[bot]` 3 commits by https://github.com/renovate[bot]
* `renovate-bot` 2 commits by https://github.com/renovate-bot

What about using a single identity?

[2020-07-16 07:59] rarkins commented on #63
We can use a single identity (manually configured on backend per org) but then it will not be possible to sign commits due to a GitHub limitation.

[2020-07-16 08:02] rarkins commented on #63
PRs are raised by [bot] and commits by -bot. If you squash merge, you should see only one author consistently.

[2020-07-16 09:51] monperrus commented on #63
Thanks for your fast answer.

How to do this for `https://github.com/INRIA/spoon/` that uses Renovate hosted by WhiteSource?

[2020-07-16 10:00] rarkins commented on #63
I can change that manually within the next day or two.

[2020-07-17 06:01] rarkins commented on #63
Future commits should be by the [bot] account now

[2020-07-17 06:01] #63 closed, assigned to nobody

[2020-07-17 06:37] monperrus commented on #63
Thanks a lot.

[2020-07-17 06:43] pomma89 opened #64 "Onboarding PR not received if merge requests are disabled and then enabled"
First of all, two things:

- Thanks for your great product.
- I'm sorry for the following issue, I did not know/remember that merge requests were disabled on target project.

I was trying to active Renovate on this project:

https://gitlab.com/pomma89/object-pool

However, merge requests were disabled and I did not remember that. Obviously, onboarding PR was not open and, by checking the Renovate

[2020-07-17 07:47] rarkins commented on #64
Yes, I can try fixing this on the backend by removing the entry.

[2020-07-17 12:01] pomma89 commented on #64
Yes, it would be appreciated. Do you need me to do anything on project side?

Thanks, Alessio

[2020-07-17 13:06] rarkins commented on #64
I don't anticipate so

[2020-07-17 22:50] Raimmaster opened #65 "White Source Renovate Dashboard Doesn't Show All Repos in GitLab Organization"
Hello, I've authenticated in https://app.renovatebot.com/dashboard with my GitLab user. I'm an organization owner and certain repos don't show up, specifically the one we're looking to use to try out the Renovate Bot.

For example the app has `web-app` in its title. ![Image](https://i.imgur.com/c4HHwhx.png)
However, after all projects have loaded, the organization shows up, some of the projects sh

[2020-07-18 04:16] rarkins commented on #65
Could it be caused by #35 ?

[2020-07-19 19:03] rarkins commented on #64
Fixed: https://gitlab.com/pomma89/object-pool/-/merge_requests/9

[2020-07-19 19:03] #64 closed, assigned to nobody

[2020-07-19 19:05] pomma89 commented on #64
Thank you very much.

Goodbye, Alessio

[2020-07-19 22:58] etaoins opened #66 "Renovate hasn't run for 2 days on SEEK-Jobs Org"
The SEEK-Jobs private GitHub org uses Renovate heavily with 400 repos configured. However, no PRs have been opened for the past 2 days and according to the dashboard no jobs have been run.

[2020-07-20 03:34] Raimmaster commented on #65
It could be, yes. There are exactly 100 repos being shown, but not all the repos from the organization.

[2020-07-20 04:28] rarkins commented on #65
Closing as duplicate, please follow #35

[2020-07-20 04:28] #65 closed, assigned to nobody

[2020-07-20 05:32] rarkins commented on #66
Hi, this problem has been resolved and you should have seen all repos run now. Sorry for the inconvenience!

[2020-07-20 05:32] #66 closed, assigned to nobody

[2020-07-20 05:34] etaoins commented on #66
Thanks for the quick turnaround!

[2020-07-20 16:10] Raimmaster commented on #35
Any news regarding this issue? Given that [#65](https://github.com/renovatebot/app-support/issues/65) also had this. Or perhaps any current workaround to get the projects we're looking for to use Renovate?

[2020-07-20 16:14] alecgerona commented on #35
@Raimmaster as mentioned by @rarkins in #60, you can just add Renovate bot as a developer/collaborator for your project and it will still work. The only caveat is its execution time which happens hourly rather than relying on a hook.

[2020-07-20 17:26] dword-design opened #67 "Lock file maintenance always outside of schedule"
**What Renovate type are you using?**

Hosted app GitHub

**Describe the bug**
I have setup Renovate with the default lock file maintenance config:
[code]
But it seems that before 5am is never executed according to my logs (see below).

**Relevant debug logs**
See https://app.renovatebot.com/dashboard#github/dword-design/base-config-nuxt

**To Reproduce**
See https://app.renovatebot.com/dashboard#

[2020-07-20 17:38] rarkins commented on #67
Please copy/paste the *relevant* sections of the logs here- they are not public. I'm not sure exactly what you mean yet. Eg it's running outside the hours or it's never running?

[2020-07-20 17:45] dword-design commented on #67
Sure. So what's actually relevant aren't the logs but the times of the logs. So now it's 19:44 and we have the times from the screenshots. That's always outside "Mondays before 5am".

<img width="1062" alt="Bildschirmfoto 2020-07-20 um 19 44 13" src="https://user-images.githubusercontent.com/13484795/87968896-6f1ea680-cac1-11ea-99cd-b685726a7134.png">

[2020-07-20 17:51] viceice commented on #67
Renovate runs hourly, look at the log details, renovate does nothing outside the schedule

[2020-07-20 18:00] dword-design commented on #67
@viceice But then it should also run before the 12 hours, right? There are no logs in the time where the lock file maintenance is supposed to be done. Or did I miss something?

[2020-07-20 18:05] viceice commented on #67
If you don't configure a timezone renovate will run in UTC.

Also if you check your repo, there is a lockfile maintenance branch. Check the commit time. Should be in schedule.

[2020-07-20 18:08] viceice commented on #67
Also if the lockfile don't change, renovate won't push a lockfile maintenance commit / pr

[2020-07-20 18:54] rarkins commented on #67
I did have an issue with some accounts not running over the weekend which could have stretched into Monday morning. @dword-design if you set `"masterIssue": true` in your repo then it will give you full visibility into each created or pending PR, and also the possibility to force the PR. So e.g. you could tick the checkbox for lock file maintenance at any time either because you want it out of sch

[2020-07-20 19:26] dword-design commented on #67
@rarkins This actually pretty much sounds like the issue. Also if I have a look at the log times, there were almost no logs the last two days but 3 days ago there were much more again.

For me it sounds like a bug because with the default values, lock file maintenance should be running on Mondays then.

[2020-07-21 05:32] rarkins commented on #67
Thanks for the confirmation. In that case I'm pretty sure it was an app-specific bug where some repos were not being enqueued. Sorry, but hopefully won't happen again.

[2020-07-21 05:32] #67 closed, assigned to nobody

[2020-07-21 17:15] Raimmaster commented on #35
I've added @renovate-bot to the repo, 21 hrs ago, but no integration MR has been received so far. Any reasons why this may be happening? Note: it does have Developer access.

[2020-07-21 17:26] alecgerona commented on #35
I believe I waited a bit more for mine. YMMV. If it still doesn't appear then something may be wrong.

[2020-07-21 17:34] rarkins commented on #35
@Raimmaster what's the GitLab group or username this is under? I'll check if I can find any newly discovered repos in our DB

[2020-07-21 18:02] Raimmaster commented on #35
The organization/group it's under is `leadiq`, @rarkins.

[2020-07-21 19:48] rarkins commented on #35
@Raimmaster only one repo is detected (the web app). It syncs hourly, and is not seeing any others. Developer level should be enough for it to be detected though.

[2020-07-21 20:00] Raimmaster commented on #35
Yes, that's the repo where it was added, but no MRs have been received so far.

[2020-07-21 20:10] rarkins commented on #35
A job was in the queue, should be through now

[2020-07-22 01:37] moltar opened #68 "Master issue issue (wrong deps listed)"
**What Renovate type are you using?**

Hosted

**Describe the bug**

Renovated opened a master issue in a repo, but the deps it lists are inconsistent with the deps the repo actually uses.

**Relevant debug logs**

Issue here: https://github.com/ScaleLeap/amazon-mws-api-sdk/issues/129

See `package.json` in the repo. ([link](https://github.com/ScaleLeap/amazon-mws-api-sdk/blob/64addea008a1b08de4dc

[2020-07-22 06:58] rarkins commented on #68
Unfortunately Renovate had a glitch and listed some of its *own* deps in that master issue. It should not happen again and please feel free to close or delete the erroneous issue.

[2020-07-22 06:58] #68 closed, assigned to rarkins

[2020-07-22 07:11] moltar commented on #68
@rarkins Thanks for the explanation.

I think Renovate should have followed up with an issue comment explaining that.

[2020-07-22 16:57] ChipWolf opened #69 "Bool breaking change"
![](https://i.imgur.com/Q3UvLdd.png)

[2020-07-22 17:00] rarkins commented on #69
What is the content?

[2020-07-22 21:03] Raimmaster commented on #35
So it's been over 48 hours now, but there's no integration MR. Is the job still in the queue, @rarkins?

[2020-07-23 04:12] rarkins commented on #35
@Raimmaster if you log into the dashboard, can you view the logs? There is an error that I think is caused by your branch naming restrictions

[2020-07-23 23:54] ChipWolf opened #70 "Fail on PR length exceeded"
It looks like this PR doesn't ever generate, I'm guessing it's because of the length of the PR title.

![](https://i.imgur.com/JYwrg5v.png)

[2020-07-23 23:54] ChipWolf commented on #70
https://github.com/chipwolf/dotfiles

[2020-07-23 23:55] ChipWolf commented on #70
Spoke too soon

[2020-07-23 23:55] #70 closed, assigned to nobody

[2020-07-24 04:26] Raimmaster commented on #35
If I log into the dashboard there's nothing there, this is a screenshot of it, even after I checked the repos cog to look for the project (which again, doesn't load because it loads exactly 100 projects and not the one I added @renovate-bot to).

![Dashboard](https://i.imgur.com/aRRjFR5.png)

[2020-07-28 03:37] Raimmaster commented on #35
Is it possible you can share the error without disclosing any private details or anything else regarding this, @rarkins?

[2020-07-28 04:42] rarkins commented on #35
If I had to guess, I think your branch naming restrictions don't allow the "renovate/*" prefix.

Please don't continue following up in this issue though as it's not related to the original topic. Open a new issue if you need.

[2020-07-30 23:10] kanjieater commented on #50
Sorry to poke, but is there anything I can help with to move this forward? I'd love to help if possible.

[2020-07-31 04:17] rarkins commented on #50
I thought I fixed it at the time. Is the same problem still occurring?

[2020-08-10 08:22] ThibaultVlacich opened #71 "[Composer] Lock file maintenance bumps incopatible dependency"
I have an issue with the weekly lock file maintenance for Composer. One of my dependency has `"ocramius/proxy-manager": "^2.8.0"` as a dependency. The weekly lockfile maintenance bumps the dependency from 2.8.0 to 2.9.0 in the lockfile.

[code]

Problem is, version 2.9.0 that was released doesn't work with Composer 1.0, but only with Composer 2.0 (that is still in alpha). As you can see, there is

[2020-08-10 08:33] rarkins commented on #71
I checked and confirmed that the latest `renovate/compose` image is still 1.x:

[code]

So I'm pretty sure it's not because we're *running* 2.x in the app.

Note that Renovate doesn't run `composer update` - it deletes the `composer.lock` and runs `composer install`. If you run that locally, so you see it making the same mistake? Otherwise it's possibly because of ` --ignore-platform-reqs`.

Cc @v

[2020-08-10 08:39] ThibaultVlacich commented on #71
It does not.

Indeed, if I add ` --ignore-platform-reqs` to `composer install`, it bumps the dependency.

[2020-08-10 19:14] alecgerona opened #72 "No onboarding/subsequent MRs after toggling in dashboard"
I've toggled my project on the dashboard with a repository that has this settings file already: `renovate.json`
[code]
The webhook is created, user is added with the proper permissions etc. My requirement files are all under the `requirements` folder (base.txt, etc.). I've let it sit for a few days since I know about the existing issues Renovate has with Gitlab. But there's still no MR to onboard

[2020-08-14 11:10] gusaiani opened #73 "Gustavo Saiani feedback"
Hey fellows, please reconsider your growth strategy.

It's not cool to have bot PRs trying to install your product all over the place.

If that happens again in one of the repos I maintain, I will report you.

Thank you.

[2020-08-14 11:29] rarkins commented on #73
GitHub Apps cannot be installed into an org unless explicitly and voluntarily done so by an admin. There's no concept of us or our bot "trying to install" anything, and no "growth strategy" you speak of.

How about you start over by telling us some of the repos where you think you had an unsolicited PR? I'd be happy to report it to GitHub myself if there's something wicked going on, or better yet

[2020-08-14 11:39] gusaiani commented on #73
Hi @rarkins, thank you for your reply.

Yes, my mistake: someone in my company added it and had not let the team know. By coincidence the first repo I got a PR for was homonymous with a personal repo so I mistook it for a public repo. I apologize.

As a suggestion, if your product could make it clear to the installer that I will add PRs to every repo in an organization, that might help prevent mis

[2020-08-14 11:52] rarkins commented on #73
Have you taken a look at what it takes to install a GitHub App? First of all, here is the app page: https://github.com/apps/renovate

Here's the description right at the top:

![image](https://user-images.githubusercontent.com/6311784/90246304-a2402580-de34-11ea-8fe3-7073137f2a8d.png)

Immediately after is this:

![image](https://user-images.githubusercontent.com/6311784/90246338-bb48d680-de34-11e

[2020-08-14 11:53] #73 closed, assigned to nobody

[2020-08-14 13:59] gusaiani commented on #73
@rarkins, I had not taken a look at Renovate's page.

If it helps to illustrate our case, our teammate who installed Renovate did not grasp from the instructions that the tool would **instantaneously** add PRs to nearly **all** our company's repos.

According to him, he had installed this in the past in other orgs and at the time it wasn't automated so he had control over which repos got it.

So h

[2020-08-14 14:55] rarkins commented on #73
He literally picked "All repositories". The tool's job is to raise PRs, and it clearly says you can expect an onboarding PR.

He's mistaken, the tool's onboarding process for both GitHub and Renovate hasn't changed in years since the app interface was launched. The control over which repos are enabled is at installation time, with the "Select repositories" option I showed in the screenshot earlier

[2020-08-14 15:14] gusaiani commented on #73
Understood, thank you 👍

[2020-08-20 09:43] mbrodala opened #74 "Dashboard: only 100 repositories loaded from GitLab"
**What Renovate type are you using?**

I'm using the hosted app on https://app.renovatebot.com/dashboard with GitLab.com (hosted)

**Describe the bug**

The wizard for adding repositories only loads 100 repositories from GitLab.

**Relevant debug logs**

I can see the following requests in the XHR section of the browser network pane:

- `https://gitlab.com/api/v4/projects?archived=false&min_access

[2020-08-24 05:31] j0nm1 opened #75 "Gitlab App stuck after 'no package files'"
**What Renovate type are you using?**

I'm using the Gitlab App (https://app.renovatebot.com/dashboard) and Gitlab.com

**Describe the bug**

The Repository only was checked once (when it was empty) and now (after I added some dependencies) Renovate does not seem to run anymore. It didn't create an onboarding Merge Request, so I simply copied my config from another project. But there are no new jo

[2020-08-24 06:18] rarkins commented on #75
I've removed the "disabled" status from this repo in the backend so it should be picked up in the next 1-2 hours

[2020-08-24 06:21] j0nm1 commented on #75
Thank you! I will close this issue when I see the first job.

Edit: It works!

[2020-08-24 09:03] #75 closed, assigned to nobody

[2020-08-24 11:20] felixfbecker opened #76 "Renovate broken with error "validationError": "Cannot find preset's package (github>sourcegraph/renovate-config)""
Renovate has stopped working for us a while ago without us making any changes afaik. It seems it can no longer find our GitHub config repository that hosts our shared renovate.json and is referenced here:

https://github.com/sourcegraph/sourcegraph/blob/9d142c61a1eec6570f08e016546865bde8774414/renovate.json#L3

Our config is in a private repository: https://github.com/sourcegraph/renovate-config
(

[2020-08-24 11:42] rarkins commented on #76
I think I know what caused this. We recently added/enforced a security feature from GitHub that lets us request tokens which are scoped to one repository only, instead of the default full org. For private repos we scope to the full org, because it's necessary in many cases when orgs have dependencies between private repos. But for public repos, we scope it to repo-only because it's not normal to h

[2020-08-25 13:37] sabhika opened #77 "Whitesource Renovate Onboarding Issue"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitHub Enterprise

### Have you checked the logs? Don't forget to include them if relevant

### What would you like to do?

I have installed whitesource Renovate App in Github organization. I am able to get pull requests (which is part of Renovate onboarding process) to the repositories which have been

[2020-08-25 13:43] rarkins commented on #77
1. Are you using self-hosted GitHub Enterprise with WhiteSource Renovate On-Premises, or the WhiteSource Renovate App using github.com/apps/renovate ?

2. What do you mean by "migrated before the app has been installed"? What does migrating mean?

[2020-08-25 13:46] sabhika commented on #77
1. We are using Whitesource Renovate App using github.com/apps/renovate

2, We have recently migrated from Bitbucket to Github.  So as we are in the process of migration, I have installed the Renovate app and tried testing it on older repos. But I didnot get pull request from Renovate app.

[2020-08-25 13:58] rarkins commented on #77
Ask the org admin to go to https://github.com/apps/renovate/installations/new and pick the right org. Scroll to the bottom and look for this:

![image](https://user-images.githubusercontent.com/6311784/91183432-c4b32800-e6eb-11ea-908c-95e29a54a62d.png)

Does it say "All repositories"?

[2020-08-25 14:01] sabhika commented on #77
I am the owner of the org. Yes. I chose "All repositories" option.

I investigated a bit and found that, I can get invite for the repos which were migrated after the app has been installed.

But for the repos which have been already exisiting in the org before installing the app, those repos dint receive the pull request.

[2020-08-25 14:19] rarkins commented on #77
What's the name of a repo that's not receiving the onboarding PR?

[2020-08-25 14:23] rarkins commented on #77
Also, please log into https://app.renovatebot.com and see if you can see the repos listed there

[2020-08-25 14:42] sabhika commented on #77
I have installed Renovate app 5days ago. So the repos which were migrated after app installation got the PR's and all the repos before that dint.

Please take a look here

![image](https://user-images.githubusercontent.com/22832727/91188459-f2f62f00-e70e-11ea-8031-d44e39fa3d55.png)

toolsdev repo has pull request
JavaExcel doesnt have the pull request.

I see all the repos in the app https://app.r

[2020-08-25 14:48] rarkins commented on #77
JavaExcel was run but it had no package files detected so was skipped.

[code]

[2020-08-25 15:03] sabhika commented on #77
Okay, so the repo's which doesn't have package files will not get the pull request?

[2020-08-25 15:17] rarkins commented on #77
That's right

[2020-08-27 09:22] viceice opened #78 "[Dashboard] Collapsable organisations"
It would be nicht to collapse the orgs on the left as they can grow. So the list is getting pretty big 🙃

Sample Tampermonkey  helper.
https://github.com/viceice/UserScripts/blob/ba0b24bc9679dfbd6b93c0a334a38f4042c2455d/Renovate.Dashboard.js#L1

[2020-08-27 10:46] viceice commented on #78
![image](https://user-images.githubusercontent.com/1798109/91433223-3cf02980-e863-11ea-874a-6ad95e7ef17f.png)

[2020-08-27 10:51] rarkins commented on #78
Is that a mockup? Maybe with > ^ types? Default to collapsed for all, or only if > a certain number of repos?

[2020-08-27 10:57] viceice commented on #78
it's just a small piece of javascript hooked into dashboard

[code]

[2020-08-27 10:57] viceice commented on #78
on load it closes all orgs (if not active)

[2020-08-28 09:25] viceice opened #79 "[Dashboard] Running job indicator"
It would be nice to have an indicator on the repo job list, which shows if  renovate is currently running on the repo

[2020-08-28 10:52] rarkins commented on #79
But challenging. Needs either a pub/sub interface added or to risk polling the DB too often

[2020-08-28 11:15] viceice commented on #79
as a start it would be enough to update inidcator when fetching jobs, so no live update 🙃

[2020-08-28 11:48] rarkins commented on #79
Yes, we could maybe do a join for that query

[2020-09-04 08:41] james-simpson-ST opened #80 "Adding new repos broken existing repos"
### Which Renovate are you using?
WhiteSource Renovate App

### Which platform are you using?
GitLab.com

### Have you checked the logs? Don't forget to include them if relevant
Logs are no longer updating since 1 day ago

### What would you like to do?
Yesterday I tried to board 4 new repos from the trustpayments-public GitLab group, however, we already have some private repos in another GitLab g

[2020-09-07 00:18] 72636c opened #81 "Concurrency limit blocks PR creation for existing branches"
In the SEEK-Jobs GitHub org, we make broad use of a configuration like this:

- [`schedule`](https://docs.renovatebot.com/configuration-options/#schedule) limited to certain days, e.g. `"before 7am on Tuesday"`
- [`prConcurrentLimit`](https://docs.renovatebot.com/configuration-options/#prconcurrentlimit) set to 3
- [`:prNotPending`](https://docs.renovatebot.com/presets-default/#prnotpending) to wa

[2020-09-09 04:29] rarkins commented on #80
The four repos from trustpayments-public all seem to be installed correctly, e.g. https://gitlab.com/trustpayments-public/stjs/js-payments/-/merge_requests/48

[2020-09-11 09:59] james-simpson-ST commented on #80
Thank you for replying, this sprang into life after about 48hrs thank you for checking this

[2020-09-11 09:59] #80 closed, assigned to nobody

[2020-09-11 13:00] broksonic21 opened #82 "npm audit fix"
With npm turned on, we see our package.json get bumped, but that often still leaves npm audit warnings in the package-lock.json

Is there a way to get the equivalent of `npm audit fix` to automatically run?

or is that because we don't have package-lock.json listed here in includePaths?

  "automerge": true,
  "rangeStrategy": "bump",
  "enabledManagers": ["npm"],
  "includePaths": ["package.json"

[2020-09-11 15:23] broksonic21 opened #83 "Different schedule for lockFileMaintenance vs package.json updates?"
I had previously tried to turn lockFileMaintenance on, but it seemed to always run with the same schedule as the package.json

what's the right way to update this to have lockFileMaintenance once a week, but package.json updates daily?

{
  "extends": [
    "config:base",
    ":prHourlyLimit4",
    ":prConcurrentLimit10",
    "group:all",
    ":onlyNpm",
    ":enableVulnerabilityAlertsWithLabel(Vu

[2020-09-12 04:22] rarkins commented on #82
Sorry, that's not functionality we support, although if running on GitHub then we do attempt to reuse their vulnerability alerts. Adding `package-lock.json` won't work, and actually your `includePaths` isn't necessary either.

[2020-09-12 04:22] #82 closed, assigned to nobody

[2020-09-13 18:55] sesigl opened #84 "Use custom gitlab token"
Hey there,

first of all, thanks for this great as a service renovate bot!

I am using vercel (ex. zeit.co) cloud where you pay by user. A user is about $20 per month that is very much for my little project to pay. Is it possible to just use my person github account + token to do commits, create merge request and so on?

Would be awesome if I could just set it in my renovate.json, but I didn't fin

[2020-09-13 19:08] rarkins commented on #84
How is a user determined? e.g. git author or git committer?

[2020-09-13 19:15] rarkins commented on #84
Looks like git author? https://vercel.com/docs/git-integrations#deploying-private-git-repositories

If so then we can customize that for you (manually, not through config)

[2020-09-13 19:47] sesigl commented on #84
Yes, indeed

They use the commit author. Can you set it up for me?

I think they are using an email address as the main ID if I am not mistaken.

Would be awesome if you can just set mine :).

akrillo89 at gmail.com

Thanks in advance! I will doubt check if it works.

Would be awesome for the future if it could be configurable somehow :).

On Sun, Sep 13, 2020, 21:16 Rhys Arkins <notifications@git

[2020-09-14 06:18] rarkins commented on #84
What's your GitLab username or group?

[2020-09-14 06:34] sesigl commented on #84
https://gitlab.com/Journerist

On Mon, Sep 14, 2020, 08:18 Rhys Arkins <notifications@github.com> wrote:

[2020-09-14 06:50] rarkins commented on #84
I've attempted to tweak it on the backend. The next time you get an MR - or perhaps rename/close an existing one - it should hopefully have your own gitAuthor set

[2020-09-14 14:30] broksonic21 opened #85 "When using LockFile Maintenance, GitHub PR info is missing version info"
We just turned on lock file maintenance (npm) and now the PR messages don't show the right version info - just that the lock file was refreshed. Can we get it to show version change

e.g.
<img width="741" alt="image" src="https://user-images.githubusercontent.com/24306571/93098728-32140200-f675-11ea-8849-3e039c600322.png">

compare to this, when you don't do lock file maintenance.

<img width="785

[2020-09-14 14:51] rarkins commented on #85
Can you create a public reproduction repo so we can debug?

[2020-09-14 15:25] broksonic21 commented on #85
Here you go: https://github.com/broksonic21/renovate_repo_repro/pull/2

[2020-09-15 08:01] #77 closed, assigned to nobody

[2020-09-15 08:02] rarkins commented on #74
Pagination should now be working for GitLab when you select the install option. Please comment here once you can test it to confirm it's fixed or reopen the issue

[2020-09-15 08:02] #74 closed, assigned to nobody

[2020-09-15 08:02] rarkins commented on #35
Pagination should now be working for GitLab when you select the install option. Please comment here once you can test it to confirm it's fixed or reopen the issue

[2020-09-15 08:02] #35 closed, assigned to rarkins

[2020-09-15 08:16] mbrodala commented on #74
Thanks, I can confirm that now all projects are loaded from GitLab. :-)

[2020-09-15 17:11] hawkzey opened #86 "Renovate not creating Pr's in git-lab repo after merging in the init branch it creates."
Which Renovate are you using?
WhiteSource Renovate App

Which platform are you using?
GitLab

Have you checked the logs? Don't forget to include them if relevant
Yes, there appears to be 2 null results not sure if this is expected?

so these logs are checking for the configure pr to of been merged in, i did it 4 hours ago when/how does it re trigger these jobs.

What would you like to do?

Renovat

[2020-09-15 17:45] rarkins commented on #86
and can you click on the job to view its logs?

[2020-09-15 17:57] hawkzey commented on #86
Yes, there is 2, from a few days ago where the results are null on the dashboard. Would you like me to send the 2 logs as files?

Probably worth mentioning as-well that these logs are before the PR was merged into our default branch.

`INFO: Repository started
{
  "renovateVersion": "23.26.0"
}
DEBUG: Using localDir: /mnt/renovate/gl/mist-software/mist
DEBUG: Repository cache is valid
DEBUG: No da

[2020-09-16 11:05] hawkzey commented on #86
@rarkins let me know if you need any additional information.

[2020-09-16 11:08] rarkins commented on #86
Sorry, I haven't had time to go through the entire log. Do you mean that you have merged the "Configure Renovate" MR and you now have a `renovate.json` file in your repository?

[2020-09-16 11:10] hawkzey commented on #86
Not a problem :), Yes we merged it in yestarday.

File content looks like so:

`{
  "extends": [
    "config:base"
  ]
}
`

[2020-09-16 11:24] rarkins commented on #86
I checked the backend and the repo was still marked as onboarding, which means it doesn't get queued for scheduled jobs every hour like onboarded repos. You might want to check the repo to confirm if the webhook has been added so that our backend knows when to run. Logging out and back in to the dashboard should also mean your browser attempts to set up the webhook if it isn't already present.

An

[2020-09-16 11:58] hawkzey commented on #86
Awesome thanks

[2020-09-16 12:19] hawkzey commented on #86
This is the web hook that is currently setup for renovate which i'm guessing it needs:

![image](https://user-images.githubusercontent.com/8249146/93336027-1f3d3100-f81f-11ea-8c1a-34b44d713c20.png)

[2020-09-20 19:43] sesigl commented on #84
Hey, unfortunately, it's blocked again. Can we also set the git author email to my mail? I also know they are trying to implement some improvements on their side.

[2020-09-21 05:06] rarkins commented on #84
The gitAuthor value has already been set for your account

[2020-09-21 07:08] sesigl commented on #84
Interesting,

I thought the information should be visible in:
https://app.renovatebot.com/dashboard#gitlab/Journerist/explore-the-world-frontend/233930865

there I still see

[code]

[2020-09-21 07:21] rarkins commented on #84
Actually you're right, I hadn't configured it correctly. Pushing a fix now, should be active in the next few minutes for any commits that happen *after*.

[2020-09-21 16:10] remal opened #87 "No projects shown in Dashboard for GitLab"
**What Renovate type are you using?**

Renovate through the renovate-bot on GitLab.com.

**Describe the bug**

1. I logged into the Renovate Dashboard (https://app.renovatebot.com/dashboard) using GitLab for authorization.
1. Then I enabled Renovate for my [project](https://gitlab.com/remal/name.remal.gradle-api-artifacts/).
1. However, the list of projects remains empty. Pressing `Ctrl+F5` doesn'

[2020-09-21 19:49] rarkins commented on #87
The left sidebar is populated based on logs, so unfortunately at the very beginning it can be confusingly absent until the first job is run. You should see that a couple of jobs have run already, although there are no updates detected so no MRs.

[2020-09-21 19:49] #87 closed, assigned to nobody

[2020-09-23 00:06] onkartibe opened #88 "[Dashboard] Not seeing the repos from organisation on dashboard"
I have authenticated and given access to github repos which are under private organisation. I dont see any repos under my dashboard.

Is there any issues any one facing?

![Screen Shot 2020-09-23 at 12 06 31 PM](https://user-images.githubusercontent.com/5966412/93949660-52d70880-fd95-11ea-8b77-e42da0f9ac9c.png)

[2020-09-23 03:07] rarkins commented on #88
The dashboard shows repos that:

1. Have been installed into Renovate using https://github.com/apps/renovate
2. You have write access to

So most likely you or an org admin need to first install the app

[2020-10-02 08:19] viceice opened #89 "[App Dashboard] missing json metadata html encoding"
json objects are not html encoded, so

`"// renovate: datasource=(?<datasource>[a-z-]+?) depName=(?<depName>.+?)(?: versioning=(?<versioning>[a-z-]+?))?\\s+readonly\\s+tag\\s+=\\s+'(?<currentValue>.+?)';"`

gets visible to:

 ` "// renovate: datasource=(?[a-z-]+?) depName=(?.+?)(?: versioning=(?[a-z-]+?))?\\s+readonly\\s+tag\\s+=\\s+'(?.+?)';"`

named regex capture groups are interpreted as html

[2020-10-02 09:42] rarkins commented on #89
I think it's now fixed:

![image](https://user-images.githubusercontent.com/6311784/94910008-5872d380-04a4-11eb-8fb8-9cbdad5a13b8.png)

[2020-10-02 09:42] #89 closed, assigned to nobody

[2020-10-03 07:32] rarkins commented on #39
This has now been implemented on the backend. It's quite challenging:
- It's not just status checks, it's also check runs, which are separate endpoints to query
- When GitHub sends a webhook that something has passed, it doesn't tell us whether there are other status checks will pending or not

Querying the API after *any* passing webhook notification would be too aggressive, so we implemented thi

[2020-10-03 13:50] travi commented on #39
Super excited for this. Thanks a ton!

[2020-10-03 14:42] travi commented on #39
i've already had a chance to see this in action on a bunch of new PRs and it seems to be working great. a very welcome improvement. thanks again!

[2020-10-08 10:32] rarkins commented on #39
Unfortunately I've needed to roll back this feature due some undesirable database spiking caused by locks. I'll comment back here again once it's re-enabled.

[2020-10-14 08:15] akrillo89 commented on #84
Hey,

I got in contact with the vercel folks. They adjusted a few things and now it should work out of the box. Can you revert all override/changes to my account?

Thank you! :)

All the best

[2020-10-14 08:26] sesigl commented on #84
I talked to the renovate folks and they adjusted a few things. Now, it should work out of the box. Can you revert all overrides/changes that are specific to my account?

Thanks in advance!

[2020-10-14 11:56] rarkins commented on #84
Done

[2020-10-14 11:56] #84 closed, assigned to rarkins

[2020-10-22 09:45] jraoult opened #90 "A way to boost auto-merge job frequency"
👋 We are trying Renovate on our private repository. I enabled auto-merge and set the option "prConcurrentLimit": 2 to limit stale rebasing every time something is merged. It seems both auto-merge and the PR jobs are running once per hour, which doesn't allow for the updates queue to drain.

Is there a way to get Renovate to run a new cycle as soon as a PR is merged or at least at a higher fixed pa

[2020-10-22 11:10] rarkins commented on #90
Unless a job is already running, or a job somehow got stuck within the last hour, you should always see Renovate running immediately after any merge of its PRs (whether automerge or manual merge). And even if a job was already in the in-progress queue, another job should be queued up behind it to run when either the current job finishes or times out after an hour.

Earlier this month I enabled som

[2020-10-22 11:43] jraoult commented on #90
Hmm, thanks for your reply. I think indeed this is related to #39. I'll follow that thread instead.

[2020-10-22 11:43] #90 closed, assigned to nobody

[2020-10-23 23:32] internettrans opened #91 "Renovate bot stopped all PRs to one repo"
This repository has not received a renovate bot PR since June, and I'm not sure why. Any insight or help is appreciated:

https://github.com/esm-bundle/react

[2020-10-24 07:50] rarkins commented on #91
If I check the logs manually, it has been running a few times in the past days, including one manual one I triggered when seeing this issue:

![image](https://user-images.githubusercontent.com/6311784/97071071-d7f44e00-15dd-11eb-858e-6b1e51fb9ab9.png)

If you log into app.renovatebot.com you can see the log and notice there are no updates pending:

[code]

Please close if you feel this is resolved

[2020-10-24 11:02] HonkingGoose opened #92 "Renovate Bot Package Diff website shows old spinning icon when loading results"
**What Renovate type, platform and version are you using?**

Hosted GitHub app, but problem is with Renovate Bot Package Diff website.

**Describe the bug**

GIVEN I have a Renovate pull request.
WHEN I click on the link in the *change* section of this pull request.
THEN a new browser tab opens, while the website is fetching the diff (loading state), I see a blue Renovate paintbrush on a yellow ba

[2020-10-24 12:06] rarkins commented on #92
This one is hosted in a private repo. Want to make a new gif though? :)

[2020-10-24 12:25] HonkingGoose commented on #92
Yeah, I'll take a shot at making a new GIF for you. :smile:

[2020-10-24 17:22] internettrans commented on #91
Hi @rarkins, thanks for your response. The esm-bundle/react repo has not received a PR from renovate bot since june - see https://github.com/esm-bundle/react/pulls?q=is%3Apr+is%3Aclosed. Notably it depends on `react` which has had several updates since June, including the recent update to 17.0.0 and 17.0.1. I have had to manually upgrade the dependency every time a new version of React is released

[2020-10-24 17:44] rarkins commented on #91
Repositories with no commits for a month get marked as stale and no longer checked automatically. This is maybe what happened. There's nothing to look at right now if there are no updates pending.

[2020-10-24 17:44] #91 closed, assigned to nobody

[2020-10-24 18:18] internettrans commented on #91
I see - I didn't know that about staleness. Thanks for your help

[2020-10-24 20:33] rarkins commented on #91
Yeah, it's kind of a backend optimization, we aim to re-check everything once per week just in case but it doesn't always happen.

FYI if you enable `dependencyDashboard` then it gives you an option to tick a checkbox and request a job run on demand, which would work in such cases.

[2020-10-26 19:08] HonkingGoose commented on #92
Hmm I'm stuck...

I was thinking: "How hard can it be to make a rotating GIF..."
Well it turns out it's trickier than I thought... :disappointed:

I've fought with Krita and GIMP to make a new GIF, so far with no success.

Do you maybe have a tip on the process you used to make the first GIF? :smile:

[2020-10-26 19:13] viceice commented on #92
Use a normal png and use css animation to rotate it. 😉

[2020-10-26 19:15] HonkingGoose commented on #92
That sounds way easier than trying to hard-code the animation into a GIF in just the right way. :+1:

[2020-10-26 19:43] rarkins commented on #92
It can really be any animated image anyway..

[2020-10-27 07:43] viceice commented on #92
I think we should move this to https://github.com/renovatebot/app-support 🤔

[2020-10-28 03:08] dqn opened #93 "Automerge is not working"
**What Renovate type, platform and version are you using?**

GitHub App

**Describe the bug**

Automerge is enabled, but it is still not merging 20 days after the PR was created.

https://github.com/dqn/tw-xauth/pull/10

**Relevant debug logs**

No logs were found for this PR older than this.

[code]

**To Reproduce**

Sorry, I don't know. It may or may not reappear.

[2020-10-28 05:06] viceice commented on #93
You need tests for automerge or disable renovate required status checks, see docs

[2020-10-28 05:18] viceice commented on #93
Ups, no, I see checks on your pr. The logs say that your pr was conflicted and was rebased. So we need the logs from the run after that.

[2020-10-28 06:07] dqn commented on #93
There is no log immediately after that about that branch.

This is all of this repository's log.
https://gist.github.com/dqn/2b48d52f30fddba65cb5256cbb302572

[2020-10-28 06:17] viceice commented on #93
Are you sure there are no more renovate runs since the last update of the pr? I'm pretty sure there should be more runs and some log messages about that pr / branch. please provide latest run logs

[2020-10-28 06:27] dqn commented on #93
There is no new log. No new jobs either.
![2020-10-28 15 26 20](https://user-images.githubusercontent.com/30195678/97400172-005baf80-1932-11eb-9975-b5f301a0926f.png)

[2020-10-28 06:41] rarkins commented on #93
Somehow it was misclassified as 'onboarding' status in the DB and so not being processed per hour. I've fixed that and will try to work out why that happened.

[2020-10-28 06:41] #93 closed, assigned to nobody

[2020-10-28 16:09] mcbanderson opened #94 "Renovate isn't running on some repos"
### Which Renovate are you using?

WhiteSource Renovate App

### Which platform are you using?

GitHub.com

### Have you checked the logs? Don't forget to include them if relevant

There are no logs to check because Renovate seems to not be running as expected.

### What would you like to do?

Renovate doesn't seem to be running as I expect. Not sure if this is a configuration issue, a bug, or per

[2020-10-28 16:14] rarkins commented on #94
A couple of your repos are marked as "stale" (no commits for least two weeks), which means they fall out of the regular schedule and get checked usually around once per week. I've manually removed that stale flag for now so you should see them getting serviced within the next ~2 hours.

If you enable `dependencyDashboard` in onboarded repos then the issue it creates includes a checkbox you can use

[2020-10-28 16:21] mcbanderson commented on #94
Thanks for the quick response! That makes sense, I will utilize the `dependencyDashboard` when needed going forward.

[2020-10-28 16:21] #94 closed, assigned to nobody

[2020-10-28 22:44] mcbanderson commented on #94
For anyone who might stumble on this in the future, I was also able to jumpstart the process by running Renovate from the command line:

[code]

This did result in some duplicates of the dependency dashboard issue being created (one from my local run, one from the Renovate app), but for me that was better than waiting for the next scan or bugging the Renovate team

[2020-10-31 13:19] HonkingGoose commented on #92
I found this guide on "How to continuously rotate an image using CSS": https://flaviocopes.com/rotate-image

[2020-10-31 13:31] rarkins commented on #92
The html is pretty simple right now:

[code]

[2020-10-31 20:13] HonkingGoose commented on #92
@rarkins You can see the rotating logo with CSS approach on my repository here: https://github.com/HonkingGoose/rotating_icon_renovate

I look forward to your feedback. :smile:

[2020-10-31 20:59] rarkins commented on #92
clone it and open the html file in a browser?

[2020-10-31 22:49] HonkingGoose commented on #92
Yup, clone the `rotating_icon_renovate` repo, and then open the HTML file in a browser.

[2020-11-01 09:01] rarkins commented on #92
That level of code is not of concern, as it's not realistic to claim copyright on something so small.

[2020-11-01 09:15] rarkins commented on #92
Updated live! Thank you

[2020-11-01 09:15] #92 closed, assigned to nobody

[2020-11-01 09:56] HonkingGoose commented on #92
@rarkins please do note that my repository was basically a copy/paste of the code from https://flaviocopes.com/rotate-image.
So I don't know how that affects licensing and giving of credit?

[2020-11-04 18:45] dmt0 opened #95 "Artifact update problem when engine.node is set to <13.0.0"
Artifact update problem with the following message:
[code]
This is happening in a private Github repo.
The CI build works fine, as all the docker images are pinned to the versions with Node v12.
This started happening a few days ago when `circleci/python:3.6-stretch` docker image switched to Node v14 by default.

[2020-11-08 00:22] mattkgwhite opened #96 "Automerge enabled PRs not merging"
https://github.com/krangence/hacksm/pulls

Several PRs which are automerge enabled are not automerging

No branch protection rules are set and no other errors shown.

Force retry seems to trigger a force push just fine, but no merge.

[2020-11-08 09:30] rarkins commented on #96
For safety reasons, Renovate won't automerge branches that are missing tests. To enable automerging untested branches, add `"requiredStatusChecks": null` to your config.

To request re-runs on demand, I recommend you use this option in your Dependency Dashboard:
![image](https://user-images.githubusercontent.com/6311784/98461536-26444800-21ad-11eb-85f9-5ef05dad55b1.png)

Clicking this simply asks

[2020-11-08 09:30] #96 closed, assigned to nobody

[2020-11-10 09:52] mbrodala opened #97 "Bot stopped adding PRs"
**What Renovate type, platform and version are you using?**

I am using the hosted app with hosted GitLab.

**Describe the bug**

After completing the onboarding yesterday Renovate did create 4 PRs (thus respecting my configuration). I could merge one right away and did close another without merge since the update itself was broken. The remaining two did fail on build due to some network issue AFA

[2020-11-10 12:55] rarkins commented on #97
In our DB the repo belonging to that job is classified as status "onboarding", which means it's not put on regular hourly checks. I have reset its status so you hopefully see a run in the next hour

[2020-11-11 07:49] mbrodala commented on #97
Yes, a whole bunch of new PRs has been added now, thanks for the fix! :-)

[2020-11-11 07:49] #97 closed, assigned to nobody

[2020-11-11 17:34] sylvestre opened #98 ""No space left on device" on a job"
Trying renovate in Firefox, the build job are failing because of "No space left on device" during the clone task

Job: 259017229

[2020-11-11 17:45] rarkins commented on #98
I'll switch the repo from SSD to EBS soon and retry it

[2020-11-11 18:00] sylvestre commented on #98
Thanks for the quick answer :)

[2020-11-11 20:31] rarkins commented on #98
It's running now but looking like it might exceed our typical ~30 minute timeout and get killed before it finishes. I'll need to look into if we can make an exception to that too in an elegant way

[2020-11-11 20:47] sylvestre commented on #98
Not sure it is the same but https://github.com/mozilla/gecko-dev/pull/531 worked a few weeks ago :)

[2020-11-11 21:26] rarkins commented on #98
Looks like it finished after all. We default to an SSD with about 3.5GB of space but when I notice repos getting errored we switch them to EBS which can go up to about 20GB. Any particular reason you needed to install on your fork?

[2020-11-12 18:01] kevincox commented on #86
I'm having a similar issue so it sounds like this might be chronic. I tried it out on two of my repos and got no PRs in 2 days  despite the onboarding PR saying to expect a lot. Looking at the dashboard it shows no runs since merging the onboarding PRs. The webhook is enabled in both and was enabled before merging the onboarding PR (if that matters).

* [Configure Renovate (!3) · Merge Requests ·

[2020-11-12 20:03] #98 closed, assigned to nobody

[2020-11-13 06:04] rarkins commented on #86
Repos in onboarding stage will now be queued for jobs daily at about 3am UTC. This will also catch any repos that have had their onboarding MRs merged but are still classified as onboarding in our backend.

[2020-11-13 13:53] kevincox commented on #43
This would be a fantastic feature. This way I could give renovatebot access just to the lock files (which I allow auto-merge for) without giving it permission to make other changes to the repo without approval.

[2020-11-13 14:21] rarkins commented on #43
Your understanding is correct re: GitHub

Please follow this feature request: https://github.com/renovatebot/renovate/issues/6577

[2020-11-13 14:21] #43 closed, assigned to nobody

[2020-11-14 16:23] sylvestre opened #99 "Renovate finds package to update but doesn't submit a PR"
Trying on Firefox https://github.com/sylvestre/gecko-dev/
in the log, I can see that renovate clearly finds stuff to update in this file: https://github.com/sylvestre/gecko-dev/blob/master/tools/moztreedocs/requirements.in

For example, I can see in the log:
[code]

I got 19 PR to update version but not more:
https://github.com/sylvestre/gecko-dev/pulls

I do NOT have set prConcurrentLimit.

My co

[2020-11-17 10:59] rarkins commented on #99
Sorry for the delay in responding. I looked at it on mobile and then unfortunately the notification was marked as read and I forgot about it.

Please see this PR: https://github.com/sylvestre/gecko-dev/pull/41

The `config:base` preset you use contains a setting of `prConcurrentLimit: 20` so you need to override that to get more.

[2020-11-18 19:37] stephaniewang526 opened #100 "renovate-bot failed to propose google-cloud-shared-dependencies update in 2 repos"
We had to make below manual updates ourselves since renovate-bot did not propose these updates:

googleapis/java-webrisk#277
googleapis/java-translate#344

com.google.cloud:google-cloud-shared-dependencies `v0.14.1` and `v0.15.0` were both missed in the above two repos. However, we did get renovate-bot updates in our other 70+ Google-provided repos.

Could you investigate and let us know why the b

[2020-11-18 19:55] viceice commented on #100
I think we would need the logs to investigate. 🤔

Maybe this is related to the other maven repo issues we have

[2020-11-18 20:39] rarkins commented on #100
Using https://github.com/googleapis/java-translate/pull/344 as an example, we can hopefully fork, clone and check out https://github.com/googleapis/java-translate/commit/97fbd5c45663cf0eb6df4e8d3d1eae4b92efcbb9 and see if it reproduces.

[2020-11-19 08:08] rarkins commented on #100
In forked repo, problem is not reproduced as PR is created: https://github.com/renovate-tests/java-translate/pull/8

[2020-11-19 08:35] rarkins commented on #100
Turns out our backend thinks this repo disabled:
![image](https://user-images.githubusercontent.com/6311784/99639203-9ffaf200-2a47-11eb-9938-4ed1450de0cd.png)

I have manually flipped it to enabled and a new job ran and created PRs.
I will monitor that it doesn't flip itself back to disabled again.

[2020-11-19 08:38] rarkins commented on #100
Also, I noticed other googleapis repos were in a similar state (installed but disabled) so I've reset them all so that they get enqueued in the next hourly scheduled runs.

[2020-11-19 08:49] #100 closed, assigned to rarkins

[2020-11-19 14:22] frenck opened #101 "Remove waste of ugly logo space from pull requests"
**What would you like Renovate to be able to do?**

![image](https://user-images.githubusercontent.com/195327/99678317-f897b280-2a7a-11eb-8b20-156a15fe26f7.png)

☝️ What the heck of fugly yellow garbage has been added to the PRs?
I don't want to have that.

**Did you already have any implementation ideas?**

Dependabot here I come!

[2020-11-19 14:54] rarkins commented on #101
It's controlled by the [prHeader](https://docs.renovatebot.com/configuration-options/#prheader) field.

[code]

[2020-11-19 14:54] #101 closed, assigned to nobody

[2020-11-19 15:59] stephaniewang526 commented on #100
Thank you for looking into this!

[2020-11-20 15:17] albanv commented on #31
Hi guys,
we encounter the exact same issue using a private registry hosted by us (verdaccio) with the public renovate app:
- the code is hosted in a private github repository and **does not** contain a `.npmrc`/`.yarnrc` file and is not a monorepo
- the renovate-config is also hosted in a private github repo, and contains an encrypted npmToken
- then on each renovate PR we encounter the `Artifact

[2020-11-28 13:34] frenck commented on #101
I think we need to re-open the issue in that case, as according to the linked documentation is null by default:

![image](https://user-images.githubusercontent.com/195327/100516822-db539a00-3186-11eb-8531-b86caa9c5d38.png)

So this is either a bug or a documentation error. Should I file a new issue?

[2020-11-29 00:15] cpsauer opened #102 "Disk Space Error Preventing Onboarding PR (Github, 0% cloned)"
Foremost, thanks all for making such a great thing for the world :)
Unfortunately, I ran into an issue trying to get things off the ground in my repo. Details below:

**What Renovate type, platform and version are you using?**

GitHub App. Logs show v23.88.3.

**Describe the bug**

I added Renovate to a private repo, but all Renovate jobs have errored out, so the onboarding PR never arrived. In al

[2020-11-29 10:54] gligoran commented on #86
Hi, I'm still having trouble with this with my private GitLab repos. I added the repos yesterday (I live in UTC+1) and they still have no onboarding MRs.

[2020-11-29 10:59] rarkins commented on #102
By default we use a 4GB SSD for cloning, so anything that's 9GB shallow would have no chance. I don't think we should read too much into the progress indicators in the `git` log. I have added a server side rule to clone onto an EBS volume with more space instead, so on the next run we should see if it works or not.

I've also added https://github.com/renovatebot/renovate/issues/7840 to discuss how

[2020-11-29 12:02] rarkins commented on #102
I think you should have an onboarding PR now. Repo takes 7+ minutes to clone

[2020-11-29 12:03] rarkins opened #103 "GitLab App Offline"
The hosted GitLab app is unfortunately down at the moment. I will update this issue during the week when a resolution is available.

[2020-11-29 12:04] rarkins commented on #86
Sorry, the app is actually *down* right now for GitLab. I have created this pinned issue: https://github.com/renovatebot/app-support/issues/103

[2020-11-29 20:59] cpsauer commented on #102
Confirming that I've gotten the onboarding PR. Thank you so much @rarkins--on a Sunday no less. I really appreciate it, and sorry about the progress-indicator red herring.

[2020-11-29 20:59] #102 closed, assigned to nobody

[2020-11-30 09:36] gligoran commented on #86
Oh, OK. I'll subscribe to that issue. Hope you get it running soon and thanks for the great tool :)

[2020-12-01 07:28] cpsauer opened #104 "Update list empty when new releases exist?"
Hey @rarkins,

Sorry to bother you again, but I'm really running into walls trying to get this off the ground with Bazel.

I've made it through through the Onboarding PR and configuration, but still stuck trying to get renovate to recognize updates to dependencies.

Taking a single, arbitrary WORKSPACE dependency as an example:
(I've backed off its version as a test, and changed it to a .tar.gz UR

[2020-12-01 07:34] rarkins commented on #104
Please create a minimal reproduction in a public repo so we can debug

[2020-12-01 07:55] cpsauer commented on #104
Sure thing, but it's literally just that snippet. [Here's a one-file repo.](https://github.com/hedronvision/RenovateTest) Renovate added--you can see the log with the pattern in question in job #268089631. (...and probably thereafter. Merging Renovate in a moment.)

[2020-12-01 08:00] rarkins commented on #104
Taking a look at the upstream repo, the problem is that there are no *releases* in that repo - only *tags* (confirmed with this API call: https://api.github.com/repos/lmirosevic/GBDeviceInfo/releases).

If Bazel is happy to use tags-only then we should be too, but we'd need to understand how the logic works. Transferring into the main repo as it will require code changes.

[2020-12-03 13:46] rarkins commented on #103
Please see https://github.com/renovatebot/renovate/blob/master/docs/usage/install-gitlab-app.md

[2020-12-03 13:46] #103 closed, assigned to nobody

[2020-12-10 10:09] puka-tchou opened #105 "Renovate not working for Gitlab.com"
**Which Renovate are you using?**

WhiteSource Renovate App

**Which platform are you using?**

GitLab.com

**Have you checked the logs? Don't forget to include them if relevant**

I can't acces the logs, they do not load. (https://app.renovatebot.com/dashboard#gitlab/gaspacchio/back-to-the-future/)

**What would you like to do?**

What can I do to enable Renovate again?

[2020-12-10 10:23] rarkins commented on #105
Sorry, please see #103

[2020-12-10 10:23] #105 closed, assigned to nobody

[2020-12-10 11:48] rarkins opened #106 "Re-activation of hosted WhiteSource Renovate App for gitlab.com"
The app for gitlab.com is indefinitely off-line as mentioned here: https://docs.renovatebot.com/install-gitlab-app/

In short, it's because malicious users could invite Renovate into their project and leverage the fact that pipelines in GitLab run with the credentials of the account that triggered CI to:

- spam published packages into any other public projects using Renovate that they can find
-

[2020-12-18 20:36] HonkingGoose commented on #106
@rarkins, you might want to change the PR title, there's a typo. 😉
`Re-actication` ->`Re-activation`

[2020-12-23 13:33] simontabor opened #107 "npmToken too long to encrypt"
**What Renovate type, platform and version are you using?**

- Hosted app
- GitHub

**Describe the bug**

I'd like to configure Renovate to access our private npm registry, running on jfrog.

The `:_authToken` parameter for NPM_TOKEN is >800 characters, and the public key being used can only support between about 200-245 chars. This means I can't encrypt our npm token, and my only option is to com

[2020-12-23 13:40] rarkins commented on #107
Renovate can't access GitHub secrets, but we're looking at implementing a similar approach here: https://github.com/renovatebot/renovate/pull/8070

Once we merge that (probably in the new year) then we plan to add an API to the app so that you can create either an org-wide or repo-only secret that is then available to your renovate config.

[2020-12-23 13:43] simontabor commented on #107
@rarkins thanks for the quick response. Sounds like the secrets functionality would help, especially if we can configure them org or repo-wide.

[2020-12-28 08:51] roni-frantchi opened #108 "ERROR: Disk space error - skipping"
**What Renovate type, platform and version are you using?**

GitHub

**Describe the bug**

Our scheduled Renovate doesn't run.
Looking at the logs we're seeing:
[code]

**Relevant debug logs**
[code]

See full log [here](https://app.renovatebot.com/dashboard#github/env0/env0/280084767)

**Have you created a minimal reproduction repository?**

Please read the [minimal reproductions documentation](h

[2020-12-28 13:11] rarkins commented on #108
What's the full size of this repo on disk once it's cloned?

[2020-12-28 15:05] roni-frantchi commented on #108
@rarkins
Full size once cloned is:
[code]

But I'm guessing there's more to it - once we `yarn install`:
[code]

And there's of course yarn's cache perhaps and what-not.

This is a monorepo, of course.

[2020-12-30 12:57] rarkins commented on #108
I've added a rule to the app to clone this repo to EBS storage instead of SSD, where much more space is available. Should take effect on the next run.

[2020-12-30 13:13] roni-frantchi commented on #108
Awesome thanks @rarkins .
I'll post the status on the next run here tomorrow

[2020-12-31 06:12] roni-frantchi commented on #108
Looks like that helped.
Thanks @rarkins

[2020-12-31 06:12] #108 closed, assigned to rarkins

[2021-01-05 10:01] cfra opened #109 "GitHub App not working anymore"
**What Renovate type, platform and version are you using?**

We are using the GitHub App

**Describe the bug**

I feel like we are probably doing something wrong, but I don't know what. Renovate seems to have stopped running for all of our repositories.

The last updates I can see are from December 22nd.

In the dashboard, I can see repositories, but none show any runs.

**Relevant debug logs**

I

[2021-01-05 10:48] rarkins commented on #109
Each of the repos is showing up as uninstalled. I'll try to debug on our backend but can you also check that the app wasn't paused/revoked by someone on your team over Christmas?

[2021-01-05 11:27] cfra commented on #109
I have double checked with the team and no one has touched any configuration of the Renovate GitHub App recently.

Before opening this issue I navigated to _Organization Settings_ -> _Installed GitHub Apps_ -> _Renovate_  and verified that the permissions for all repositories are present.

Is there anything else I should check on the GitHub side?

Also, this does apparently not only affect reposit

[2021-01-05 11:35] rarkins commented on #109
I've forced a sync and the PicturePipe repos are now showing up as installed again so they should be scheduled within the next 2 hours.

The other repos are classified as stale and removed from regular scheduling as they have not received commits in too long. If you check the rebase/retry button on any PR then you should see it run and update, although it will still be classified as stale until yo

[2021-01-05 11:38] cfra commented on #109
Okay, thank you for the prompt response.

Regarding the other repositories: Is there some more documentation about when a repository will be considered stale? I was not aware that Renovate will stop proposing updates if a repository has not seen changes for some time.

[2021-01-05 12:23] rarkins commented on #109
No, we don't have it documented, and it's subject to change at any time. Essentially it's resource optimization - neither we nor GitHub gains anything by hammering their API hourly for a repo that hasn't been updated in a year. Currently the threshold is 60 days inactivity before it's put on a de-prioritized schedule.

[2021-01-05 19:16] mbrandau commented on #31
I'm experiencing the same issue with verdaccio and a self hosted GitLab instance.

[2021-01-05 19:49] cfra commented on #109
Okay, thank you again for taking the time to explain. :bowing_woman:

[2021-01-07 10:10] cfra commented on #109
Sorry, for reopening this issue, but we are still running into a problem:

[2021-01-07 10:14] cfra commented on #109
Sorry, for reopening this, but I am still running into a problem:

https://app.renovatebot.com/dashboard#github/PicturePipe/ppa_traefik

For this repository, I can only see two runs in the dashboard.

The second run (yesterday) produced updates, but did not result in any PRs because the schedule did not match.

I updated the config so PRs would be opened immediately: https://github.com/PicturePipe

[2021-01-07 12:21] cfra commented on #109
Re-adding the repo solved this problem for now.

[2021-01-07 12:21] #109 closed, assigned to nobody

[2021-01-12 09:05] carlobeltrame opened #110 "Renovate not running jobs on one of our repositories"
Hi! We have successfully activated Renovate on a few repositories in the past few weeks, and it's working out great! However, in one of them (https://github.com/ecamp/hal-json-vuex) no jobs are being run. It looks to me like renovate is considering the repo as stale, since at the time of opening the onboarding PR, no commits were made for 2 weeks. However, since then (before merging the onboarding

[2021-01-12 11:35] rarkins commented on #110
It seems to have been running now. It was actually in onboarding status, not stale. We run automatically against onboarding once per day and manually enqueue stale ones ~weekly

[2021-01-12 11:35] #110 closed, assigned to nobody

[2021-01-12 15:12] carlobeltrame commented on #110
Indeed, thanks! Renovate is great!

[2021-01-19 15:30] CyrilQuandalle opened #111 "The renovate bot stopped working on gitlab"
Which Renovate are you using?
WhiteSource Renovate App

Which platform are you using?
GitLab.com

Have you checked the logs? Don't forget to include them if relevant
Well, there is some logs but I cant read them, it is loading forever.

What would you like to do?
The Renovate bot worked perfectly with my GitLab account and since the begining of the month it stopped doing anything and the logs are

[2021-01-19 15:34] rarkins commented on #111
Please see #103

[2021-01-19 15:34] #111 closed, assigned to nobody

[2021-01-19 15:35] CyrilQuandalle commented on #111
Thank you very much for your quick reply.

[2021-01-29 22:55] amfred opened #112 "Only getting issues, not PRs, after enabling Renovate in Whitesource For Developers"
I enabled Renovate on a repo where Whitesource is running, but it's only opening issues and not pull requests.  What are the conditions that must be met to open PRs (and fewer of them) instead of issues?

For reference, the project started out as a fork of:
https://github.com/carbon-design-system/gatsby-starter-carbon-theme
But we're using Yarn, so there's a yarn.lock file.

The .whitesource confi

[2021-01-30 05:57] rarkins commented on #112
Re: `vulnerableCheckRunConclusionLevel`, do you know where that original value of "false" came from? When I look at [the documentation](https://whitesource.atlassian.net/wiki/spaces/WD/pages/556007950/WhiteSource+Bolt+for+GitHub#WhiteSourceBoltforGitHub-vulnerableCheckRunConclusionLevel) it indicates that the default value is "failure", not "false".

In theory with displayMode=diff it should only

[2021-01-30 05:58] rarkins commented on #112
On a side note, I edited your title/description a little for readability. You might be interested in how to use the code block feature yourself: https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2021-01-30 16:51] amfred commented on #112
The example I worked from had
"vulnerableCheckRunConclusionLevel": "false",
instead of
"vulnerableCheckRunConclusionLevel": "failure",

I'm not sure if that had something to do with it.

[2021-02-01 10:07] rarkins commented on #112
I'm not sure it would explain everything, but it could explain something. At the very least, please re-test with `"failure"` to confirm if anything changes. Also if that example came from any of our documentation then please make sure I or someone at WS knows to fix it.

[2021-02-03 16:02] amfred commented on #112
I made sure the documentation I used (it was internal documentation) was corrected to say "failure" instead of "false".  Now I am able to merge PRs even if the whitesource check fails, so that's a start.

I'm going to try that today and then see if we can get some issues created... I'll check back.

[2021-02-09 22:28] amfred commented on #112
I have this enabled on a few repos now, but we haven't had any new vulnerabilities in the past few days, so I'm just waiting to see if I get PRs or issues.

[2021-02-10 08:06] rarkins commented on #112
Make sure you have set up the workflow rule for Remediate also: https://whitesource.atlassian.net/wiki/spaces/WD/pages/710444101/WhiteSource+Remediate#WhiteSourceRemediate-WhiteSourceWorkflowRules

[2021-02-22 22:20] ChipWolf opened #113 "PRs are only automerged sometimes"
We see some pull requests which were raised inside of the schedule today were not automerged.
https://github.com/ArchitectSMP/k8s-gitops/pull/85
https://github.com/ArchitectSMP/k8s-gitops/pull/87

The log shows `"mergeStateStatus = UNKNOWN"`, however, there is a test which is passed on each PR.
Not certain how to proceed from here

[2021-02-23 06:29] rarkins commented on #113
Both those PRs appear to have been automerged by now. The UNKNOWN status you saw comes directly from GitHub in the answer of the getPr query.

[2021-02-23 18:37] ChipWolf commented on #113
Curious. The state hasn't changed for those PRs between the scheduled window yesterday & today.
Do we know more about the conditions in `getPr`? Could this be another caching thing?

[2021-02-23 18:37] ChipWolf commented on #113
Curious. Thanks @rarkins.
My only reservation with that is; the state hasn't changed for those PRs between the scheduled window yesterday & today.
Do we know more about the conditions in `getPr`? Could this be another caching thing?

[2021-02-23 18:44] rarkins commented on #113
`"mergeStateStatus = UNKNOWN"` is a field directly from GitHub's API and is not computed. The only caching of PRs is per-run, which is a pretty brief time. Was the branch/commit/PR created in the same run as this status was received?

[2021-02-23 20:11] ChipWolf commented on #113
The metallb PR was created in run #306356136, the MariaDB PR was automerged in the next run #306394927, there was a subsequent run where the metallb branch was updated, extrernaldns was auto merged in the following run, the metallb branch was updated in a fifth run and it was finally automerged in the sixth.

[2021-02-23 20:14] ChipWolf commented on #113
The externaldns and the metallb merge occurred outside of the schedule.
![](https://i.imgur.com/tn4HswS.png)

[2021-02-23 20:22] rarkins commented on #113
The schedule controls branch creation, not merging. And only one branch can be merged per run, because it's a prerequisite that a branch is up to date with the base branch and passing tests before it can be automerged

[2021-02-23 20:41] ChipWolf commented on #113
Ohhh, so I guess if we used `requireStatusChecks: null` it'd allow several through in a single run?
I guess a merge schedule would be useful in GitOps scenarios where changes to the branch directly reflect on the infrastructure & should only occur during certain maintenance windows.

[2021-02-23 21:31] rarkins commented on #113
It would still be one automerge per run. But it could create and merge in the same run.

[2021-02-23 22:00] ChipWolf commented on #113
Alright thanks for the help. I guess a potential enhancement would be scheduling of merges & allowing multiple merges to happen in a sequence in a single run if there's no merge conflict.

[2021-02-23 22:00] #113 closed, assigned to nobody

[2021-03-04 19:03] ChipWolf opened #114 "Repository is a fork and not manually configured (with includeForks: true)"
[This repo](https://github.com/krangence/hacksm/blob/master/.github/renovate.json5#L9) has `includeForks` set to true, however, the bot is throwing the following error in the logs & doesn't continue.

[code]

I can't see anywhere in the code this scenario would make sense other than if the renovate JSON was being misinterpreted.

[2021-03-04 19:14] rarkins commented on #114
It seems we haven't documented this properly, because it's only supported when the file name is `renovate.json`

[2021-03-04 19:18] ChipWolf commented on #114
Oh right, thanks! Can it still live in `.github` or does it have to go back to the root @rarkins?
Also, just out of curiosity, why does the filename matter? I thought `.json5` was just treated as an [alternate](https://github.com/renovatebot/renovate/issues/3484).

[2021-03-04 19:22] rarkins commented on #114
Because when it's a fork we don't want to clone the whole repo just in case it has a config file. Instead we do a single API request to check if renovate.json returns a value and then checks if it includes the field. Therefore can't be in .github either.

The hosted app has been installed into 100,000 forks so the difference in load on GitHub is significantly less by avoiding a clone.

[2021-03-04 19:24] ChipWolf commented on #114
Ouch, alright; that makes a lot more sense.
If I add a `renovate.json` into the root of the repo with the following, will it go and look for the other file?
[code]

[2021-03-04 19:28] rarkins commented on #114
Unfortunately I think renovate.json takes preference

[2021-03-04 19:29] rarkins commented on #114
We may be able to do some git tricks to fetch just a file list or limited clone but would need research done first

[2021-03-04 19:46] ChipWolf commented on #114
Ah, so sparse checkouts/clone filters/etc.? That'd be way better than cloning the entire repo

[2021-03-09 23:15] chingor13 opened #115 "Forking Renovate not running on new repositories"
We have [Forking Renovate](https://github.com/apps/forking-renovate) installed org-wide, however, some new repositories seem to be ignored by the bot.

Examples:
* https://github.com/googleapis/java-artifact-registry
* https://github.com/googleapis/java-domains

Note: these repositories were created as private repositories and then made public. New repositories that were created as public seem to

[2021-03-10 05:40] rarkins commented on #115
Those repos were flagged as disabled (Renovate-wise) at one point, so removed from the usual rotation. We periodically recheck the full disabled list but I've manually reset the disabled status of all repos in your org so that they should be rechecked again within the next few hours maximum

[2021-03-10 05:44] rarkins commented on #115
Those two repos in particular have already run now. We'll look to add the ability to manually force a run through the dashboard one day..

[2021-03-10 05:44] #115 closed, assigned to nobody

[2021-03-10 17:32] #56 closed, assigned to nobody

[2021-03-13 00:36] mizozobu commented on #38
If you just need a shortcut to your dashboard like me, here it is.
Customize it to your preference on https://shields.io

[![renovate](https://img.shields.io/badge/renovate-enabled-%231A1F6C?logo=renovatebot)](https://app.renovatebot.com/dashboard)
[![renovate](https://img.shields.io/badge/renovate-configured-green?logo=renovatebot)](https://app.renovatebot.com/dashboard)
[![renovate](https://img.

[2021-03-13 07:55] cpsauer commented on #102
@rarkins, I'm getting the same disk space error again. Any chance you could bump me up?

In case handy, Job ID is 316572574

Related: Is there any way to get Renovate to notify/email me when jobs error, so I can catch configuration issues fast? Feels like there'd already be a setting somewhere, but I couldn't find with a quick search.

[2021-03-13 09:48] rarkins commented on #102
This repo has already been switched from SSD to EBS previously, which should give it something like 10GB or more space. We don't have the ability to use any more than that.

No, there's not any email capabilities at all actually

[2021-03-13 23:45] cpsauer commented on #102
Huh! Things now seems to be back working--with no changes on either of our ends--after just that single, isolated disk space failure.

I had assumed we'd slowly crept up over some maximum size, and the failures were going to persist. I couldn't be more delighted to have been wrong! My new assumption from what you wrote is that EBS should just elastically expand (as the name would suggest, though I

[2021-03-14 05:02] rarkins commented on #102
Regardless of AWS naming, the disk size is statically provisioned when the EC2 machine is created 🤷

If it happens with any regularity, please create a new app support discussion in the main repo as maybe we have some residual file system use sometimes (eg too many Docker images downloaded)

[2021-03-16 23:30] Robula opened #116 "Renovate Bot running out of disk space"
Our monorepo is causing the Renovate container to run out of space with errors. The Renovate Dashboard is failing with `unknown error`, see job #318704723. The errors in the log contain line such as:
`ENOSPC: no space left on device` & `Error: error: unable to write file`

A local repo with after Yarn install:
[code]

Other than putting our repo on a diet, is there anything we can do in the interi

[2021-03-17 07:39] rarkins commented on #116
What's the repo name or a recent job ID? I can try switching it to an alternative storage which has ~10GB available

[2021-03-17 09:20] Robula commented on #116
Hi @rarkins, thanks for your reply. The most recent job ID is 318927124.

[2021-03-25 10:39] oleg-preply commented on #116
facing the same issue (`du -sh . 3,9G    .`)

@rarkins, does it makes sense to try switching my project to alternative storage as well? (job ID is 323611975). Or there is another workaround (apart from removing packages from the project :joy:)?

Anyway, thank you for your efforts!

[2021-03-25 17:28] dmt0 opened #117 "Multiple baseBranches + multiple apps in repo = not raising PRs for non-master branches"
I have a repo with multiple directories, each with it's own `package.json`. For some of those dirs I want RenovateBot PRs based on `master` only, for some - based on `4.1-release` only. The problem is that I'm not getting any PRs for `4.1-release` (except for just one security-related PR) and only getting PRs for `master`. Not seeing anything ugly in the logs (https://app.renovatebot.com/dashboard

[2021-03-25 18:54] rarkins commented on #117
What hints do the logs give. Do you see it mention the other base branch and scan it?

[2021-03-25 21:07] dmt0 commented on #117
Here it is a the INFO level:
[code]

Looking at DEBUG stuff. I see that it did process the other branch:

[code]

Looking into it more...

[2021-03-25 21:21] dmt0 commented on #117
Maybe this is relevant:

[code]

Not sure where that number 20 is from. I just counted 37 PRs currently open by Renovate on that repo. No new PRs done today. Around 13 PRs updated within the last week...

[2021-03-25 21:34] rarkins commented on #117
If you're using `config:base` then it sets prConcurrentLimit=20. That appears to explain why no new PRs are being created.

[2021-03-25 21:38] dmt0 commented on #117
Right, I should probably override this, since I have so many apps.

Thanks @rarkins, could you also take a look at my "Problem 2" - just edited the issue head.

[2021-03-25 21:39] rarkins commented on #117
I don't understand what you mean there. Please elaborate in more details on it all

[2021-03-25 21:48] dmt0 commented on #117
Sure. For some apps (say `webapp` above)  I want all my updates to target `4.1-release` branch only. I've created rules for `minor` deps and devDeps in my config file above. Currently I'm getting a lot of PRs for individual package updates (both major and minor) in `webapp` that are targeting `master`. Ideally I want to:
1) Stop all PRs for individual minor/patch bumps (have all minor/patch update

[2021-03-25 21:57] rarkins commented on #117
So far this is all config questions so this is not the right repo for it. Please raise a discussion in https://github.com/renovatebot/renovate/discussions instead, however it would better if you can create a simplified reproduction repo with a small config then it's much more likely to pinpoint it. You're on the right track though by using packageRules with matchBaseBranches

[2021-03-25 21:57] #117 closed, assigned to nobody

[2021-03-25 22:17] dmt0 commented on #117
https://github.com/renovatebot/renovate/discussions/9291

[2021-03-29 23:38] MarcPorciuncula commented on #116
Hi, been having the same issue. Recent Job ID is `#325821918`.

[code]

Thanks!

[2021-04-12 18:30] jakesylvestre commented on #114
I'd also be in favor of a proposal to support this behavior. In the meantime, it'd probably make sense to update [this](https://docs.renovatebot.com/configuration-options/#includeforks) portion of the docs to reflect this behavior.

I tried looking for a docs repo but couldn't find one. If you can point me in that direction, happy to submit a PR

[2021-04-12 18:43] rarkins commented on #114
Check out the docs/ folder in this repo for sources

[2021-04-12 22:14] stephaniewang526 opened #118 "renovate-bot failed to propose google-cloud-shared-dependencies update in googleapis repo"
We had to make below manual update ourselves since renovate-bot did not propose these updates:

https://github.com/googleapis/java-bigqueryconnection/pull/358

Similar happened in https://github.com/googleapis/java-firestore.

We did get renovate-bot updates in our many other 70+ Google-provided repos. Not sure why this one was missed.

Could you investigate and let us know why the bot did not wor

[2021-04-12 23:30] Neenu1995 commented on #118
Renovate-bot did not propose the same changes in following repo as well:
[googleapis/java-speech](https://github.com/googleapis/java-speech/pull/480)

[2021-04-13 04:31] rarkins commented on #118
Hi, I have identified the root cause:
- At one or more times recently, GitHub had a glitch where it returned a 500 error when we ask it to fork repos
- We incorrectly classified that as a terminal failure and disabled each repo it happened to

Resolution:
- All googleapis/* repos have been unmarked from disabled state to be checked again immediately (done)
- Adjusting Renovate code so that it does

[2021-04-13 04:31] #118 closed, assigned to nobody

[2021-04-13 15:58] stephaniewang526 commented on #118
Great - thank you!

[2021-04-13 20:37] davazp commented on #116
And another case having the same issue here 🙏 .  Right after install is `3.6G`.  It fails later on with
`ERROR: Disk space error - skipping`.  I still get some updates from the beginning of the job though, for now.

A recent jobs id is `#335030007`.

[2021-04-25 14:58] henrist commented on #61
@rarkins I'm seeing something similar on some our repos, but I suspect it's due to the "stale" classification you mention. Is this documented anywhere so I can understand how it works? Is it correct that a commit/push will retrigger a job or move it out of stale until some time later?

It would be great if the Renovate Dashboard (https://app.renovatebot.com/dashboard) could show if a repo is stale

[2021-04-25 21:09] rarkins commented on #61
You should always be able to tick this checkbox in a Dependency Dashboard to trigger a run, even if the repo is stale:

![image](https://user-images.githubusercontent.com/6311784/116009343-56778a00-a619-11eb-8239-73f99e097c18.png)

(if not then we'd treat it as a bug)

[2021-04-25 23:25] henrist commented on #61
That's what I typically do to ensure the repos are up-to-date. However it seems to not bring the repo out of stale state (it only performs one run).

Do you have any details on my question regarding how a repo gains stale state, and how it looses it? When can I expect a repo to pick up dependency updates? I have an example of one repo now that hasn't picked up an update that was released 10 days a

[2021-04-26 05:17] rarkins commented on #61
The app looks for any log message `'latest commit'` and extracts the time stamp from that.  If it's more than 60 days old then it's classified as stale.

I can confirm that `capralifecycle/fnf-helsenett-http4k-cors` is marked as stale and had been last checked on April 15.

I ran it manually just now, and this log message was produced:

[code]

Therefore it was not classified as non-stale.

There

[2021-04-26 11:50] henrist commented on #61
Thanks, that's very useful details. How often is a stale repo rechecked? Considering my fact that approx 10 days had already passed without any run.

In this case, since the repo itself does not have any recent commit, the new dependency will not really be updated until long time, since it needs multiple runs to complete (expected schedule, create branch and wait for status, then merge if still up

[2021-04-26 12:07] rarkins commented on #61
It's currently a manual process but we'll try to get them checked each weekend from now on.

[2021-04-26 13:49] henrist commented on #61
Aha. That sounds like something inconveniently to rely on, and useful to know about. Is this documented behaviour? Will a retrigger (in the Dependency Issue), detecting a new commit in the repo, move it out of stale, or is it fully managed by your "manual process" so we just have to wait for it to happen?

In https://github.com/renovatebot/app-support/issues/61#issuecomment-656682114 it was mentio

[2021-04-26 14:33] rarkins commented on #61
It's not documented to that detail, and decisions like how many VMs are running or when stale repos are scheduled is considered an internal implementation detail for now. Checking a repo around weekly for updates when it hasn't been updated for months seems reasonable.

If a repo runs, e.g. due to a dashboard trigger, and is no longer stale, then it should automatically get moved out of the stale

[2021-04-26 14:33] #61 closed, assigned to rarkins

[2021-04-26 16:03] henrist commented on #61
Thanks for clearing up on the details! :+1:

[2021-04-26 23:06] trovato-tech commented on #116
Hey @rarkins, unfortunately we're also experiencing this issue. Recent job id is `#341826578 `

Thanks a lot!

[2021-04-30 18:09] jfairley opened #119 "definitelytyped including all dependencies"
Recently, I've noticed that my repos have a renovate PR seeming to be grouped as `definitelytyped`, but the PR seems to include _every_ dependency update that my app needs.

I'm not sure whether this is an issue with the shareable configs or one of my configs, but I'll share some of my configs so we can figure it out...

This worked fine for a long time until recently, and we don't change our conf

[2021-04-30 19:29] rarkins commented on #119
Best if you create a Q&A discussion in the main Renovate repo. The package rule you show here is a config error (by extending `group:definitelyTyped` you've created a package rule within a package rule) but it seems like it's being interpreted differently now compared to before.

If you're after the quickest fix then it would be to change to this:

[code]

Otherwise if you don't mind creating a re

[2021-04-30 19:29] #119 closed, assigned to nobody

[2021-04-30 19:56] jfairley commented on #119
@rarkins, you said `Q&A`. Is a "discussion" what you're recommending?

[2021-04-30 19:57] jfairley commented on #119
You said `Q&A discussion`. I think I answered my own question actually.

[2021-05-08 23:52] yangm97 commented on #106
Gitlab 13.5 added Project Scoped tokens https://gitlab.com/groups/gitlab-org/-/epics/2587

Gitlab 13.11 added group wide Oauth application support https://docs.gitlab.com/ee/integration/oauth_provider.html#group-owned-applications

Does it look like either of these would suffice?

[2021-05-09 06:18] rarkins commented on #106
Before we check if their security model is satisfactory, are they supported on all gitlab.com plans?

[2021-05-10 06:42] mbrodala commented on #106
[Group level apps](https://docs.gitlab.com/ee/integration/oauth_provider.html#group-owned-applications) are available for everyone in every tier.

But [project access tokens](https://docs.gitlab.com/ee/user/project/settings/project_access_tokens.html) are currently not available in the free tier of gitlab.com:

![image](https://user-images.githubusercontent.com/5037116/117616632-a737c880-b16b-11eb

[2021-05-10 06:56] rarkins commented on #106
Group-level apps appear to be just a way to do private OAuth apps and does not support "bot" semantics,  unless I misunderstand it. If we were to switch to an OAuth approach (meaning "the bot" doesn't make MRs as itself, it makes them as you the end user) then does it present any advantage over an instance-wide OAuth app?

[2021-05-20 06:29] zpei0411 opened #120 "How to setup the dashboard for Github Enterprise Self-host"
Hi
    I am very curious about how to set up a dashboard for GHE, I saw there has someone implement it, but can not find any setup guide and doc.
    thanks for the reply!

[2021-05-20 06:44] rarkins commented on #120
There's no dashboard for self hosted

[2021-05-20 06:44] #120 closed, assigned to nobody

[2021-05-31 07:49] Sy1v4in commented on #31
Hi guys,
we encounter the exact same issue using a private registry hosted on **`Github packages`** with the public renovate app:

  - the code with the renovate-config is hosted in a private github repository and does not contain a .npmrc/.yarnrc file and is a single simple application repository,
  - the `.npmrc` is configured through an encrypted `npmrc` string in the `renovate.json` file,
  -

[2021-05-31 10:40] viceice commented on #31
We recommend to use hostrules only instead of npmrc. That way we got most auth issues resolved.

Please open a discussion with detailed reproduction steps. Or search discussions / docs. There are plenty of samples for different registries.

[2021-05-31 10:42] viceice commented on #31
We are also planning to remove npmrc config option at all. So renovate would only read repo npmrc for registry urls.

[2021-05-31 11:22] rarkins commented on #31
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:22] #31 closed, assigned to rarkins

[2021-05-31 11:23] rarkins commented on #106
I'm going to archive this repository so that we have conversations in one place.

[2021-05-31 11:23] #106 closed, assigned to nobody

[2021-05-31 11:23] rarkins commented on #116
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:23] #116 closed, assigned to nobody

[2021-05-31 11:23] rarkins commented on #114
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:23] #114 closed, assigned to nobody

[2021-05-31 11:23] #38 closed, assigned to rarkins

[2021-05-31 11:24] #112 closed, assigned to nobody

[2021-05-31 11:24] #107 closed, assigned to nobody

[2021-05-31 11:24] #86 closed, assigned to nobody

[2021-05-31 11:24] rarkins commented on #39
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:24] #39 closed, assigned to nobody

[2021-05-31 11:24] rarkins commented on #88
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:24] #88 closed, assigned to nobody

[2021-05-31 11:24] rarkins commented on #79
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:24] #79 closed, assigned to nobody

[2021-05-31 11:24] rarkins commented on #78
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:24] #78 closed, assigned to nobody

[2021-05-31 11:25] rarkins commented on #76
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:25] #76 closed, assigned to nobody

[2021-05-31 11:25] rarkins commented on #50
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:25] #50 closed, assigned to rarkins

[2021-05-31 11:25] #29 closed, assigned to nobody

[2021-05-31 11:25] rarkins commented on #58
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions

[2021-05-31 11:25] #58 closed, assigned to nobody

[2021-05-31 11:25] jusurb commented on #106
@rarkins where is this one place you're having conversations in?

[2021-05-31 11:26] rarkins commented on #55
I'm going to archive this repository so that we have conversations in one place. Therefore please create an "App Support" discussion here if this problem or suggestion is still relevant: https://github.com/renovatebot/renovate/discussions